<table class="table table-hover table-light">
    <thead>
        <tr class="uppercase">
            <td>         </td>
            <td class="m-appeal"> 申诉类型 </td>
            <td class="m-img"> 图片证明 </td>
            <td class="m-proc"> 处理内容 </td>
            <td class="u-func"> 功能    </td>
        </tr>
    </thead>
    <tbody>
      {{for data}}
        <tr>
            <td> {{:#index+1 + ~root.pageSize*~root.pageIndex}} </td>
            <td class="m-appeal"> 
                <span>创建时间: {{:~formatTime(createtime)}} </span>
                <span>申诉类型: {{:~formatAppeal(type)}}</span>
                <span>任务编号: {{:taskCode}}</span>
                <span>申诉对象: {{:mobile}}</span>
            </td>
            <td class="m-img">  
                {{if picture1}}<a href="{{:~root.imgPrefix}}{{:picture1}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:picture1}}" style="width: 60px; height: 60px;"></a>{{/if}}
                {{if picture2}}<a href="{{:~root.imgPrefix}}{{:picture2}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:picture2}}" style="width: 60px; height: 60px;"></a>{{/if}}
                {{if picture3}}<a href="{{:~root.imgPrefix}}{{:picture3}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:picture3}}" style="width: 60px; height: 60px;"></a>{{/if}}
                {{if picture4}}<a href="{{:~root.imgPrefix}}{{:picture4}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:picture4}}" style="width: 60px; height: 60px;"></a>{{/if}}
                {{if picture5}}<a href="{{:~root.imgPrefix}}{{:picture5}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:picture5}}" style="width: 60px; height: 60px;"></a>{{/if}}
            </td>
            <td class="m-proc">  
                <span>处理情况: {{if handleStatus==0}}未处理{{/if}}{{if handleStatus==1}}已处理{{/if}}</span>
                <span>处理时间: {{if handleTime}}{{:~formatTime(handleTime)}}{{/if}}</span>
                <span>处理描述: {{:handleResult}}</span>
            </td>
			<td class="u-func">
              <a href="#basic" class="btn red btn-xs detail-task"   data-id="{{:buyerTaskId}}"><i class="fa fa-info"></i> 详情 </a>
			  {{if handleStatus==0}}<!-- 
              	<a href="#basic" class="btn blue-madison btn-xs audit-appeal"   data-id="{{:id}}" data-type="1"><i class="fa fa-edit"></i> 处理 </a> -->
                <a href="#basic" class="btn grey-mint btn-xs frozen-account"   data-id="{{:buyerTaskId}}" data-type="1"><i class="fa fa-ban"></i> 冻结账号 </a>
                <a href="#basic" class="btn grey-mint btn-xs cancel-order"   data-id="{{:buyerTaskId}}" data-type="1"><i class="fa fa-remove"></i> 撤单 </a>
                <a href="#basic" class="btn blue-steel btn-xs change-money"   data-id="{{:buyerTaskId}}" data-type="1"><i class="fa fa-edit"></i> 修改价格 </a>
                <a href="#basic" class="btn blue-steel btn-xs platform-pay"   data-id="{{:buyerTaskId}}" data-type="1"><i class="fa fa-share"></i> 平台返佣 </a>
                <a href="#basic" class="btn blue-steel btn-xs cancel-pay"   data-id="{{:buyerTaskId}}" data-type="1"><i class="fa fa-unlink"></i> 取消佣金 </a>
              {{/if}}
            </td>
        </tr>
      {{/for}}
    </tbody>
  </table>