<div class="m-detail-wrap">
  <div class="m-close">X</div>
  {{for}}
  <div class="u-step">
    <div class="u-step-title">
      <span>申诉基础信息</span>
    </div>
    <div class="u-step-info">
      <span class="u-step-key">申诉类型</span>
      <span class="u-sp"></span>
      <span class="u-step-val">{{:typeStr}}</span>
    </div>
    <div class="u-step-info">
      <span class="u-step-key">申诉对象</span>
      <span class="u-sp"></span>
      <span class="u-step-val">{{if buyerId>0}}买家申诉{{/if}}{{if shoperId>0}}商家申诉{{/if}}</span>
    </div>
    <div class="u-step-info">
      <span class="u-step-key">创建时间</span>
      <span class="u-sp"></span>
      <span class="u-step-val">{{:~formatTime(createtime)}}</span>
    </div>
    <div class="u-step-info">
      <span class="u-step-key">手机号码</span>
      <span class="u-sp"></span>
      <span class="u-step-val">{{:mobile}}</span>
    </div>
	 <div class="u-step-info">
      <span class="u-step-key">申诉描述</span>
      <span class="u-sp"></span>
      <span class="u-step-val">{{:complainContent}}</span>
    </div>
  </div>
  <div class="u-step">
    <div class="u-step-title">
      <span>申诉截图</span>
    </div>

    <div class="u-step-info">
      <span class="u-step-val">
        {{if picture1!=null && picture1!=''}}
				<a href="{{:~root.imgPrefix}}{{:picture1}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:picture1}}"></a>
			{{/if}}
			{{if picture2!=null && picture2!=''}}
				<a href="{{:~root.imgPrefix}}{{:picture2}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:picture2}}"></a>
			{{/if}}
			{{if picture3!=null && picture3!=''}}
				<a href="{{:~root.imgPrefix}}{{:picture3}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:picture3}}"></a>
			{{/if}}
			{{if picture4!=null && picture4!=''}}
				<a href="{{:~root.imgPrefix}}{{:picture4}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:picture4}}"></a>
			{{/if}}
			{{if picture5!=null && picture5!=''}}
				<a href="{{:~root.imgPrefix}}{{:picture5}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:picture5}}"></a>
			{{/if}}
      </span>
    </div>
	</div>
	<div class="u-step">
    <div class="u-step-title">
      <span>处理结果</span>
    </div>
	{{if handleStatus!=0}}
    <div class="u-step-info">
      <span class="u-step-key">处理时间</span>
      <span class="u-sp"></span>
      <span class="u-step-val">{{:~formatTime(handleTime)}}</span>
    </div>
    <div class="u-step-info">
      <span class="u-step-key">处理情况</span>
      <span class="u-sp"></span>
      <span class="u-step-val">{{:handleResult}}</span>
    </div>
	{{/if}}
	 <div class="u-step-info">
      <span class="u-step-key">处理状态</span>
      <span class="u-sp"></span>
      <span class="u-step-val">{{if handleStatus==0}}未处理{{/if}}{{if handleStatus==1}}已处理{{/if}}</span>
    </div>
  </div>
	<div class="m-d m-d-main" style='text-align: center;'>
		<div class="col-1" style='text-align: center; padding:10px'>
			 {{if handleStatus==0}}
              <a href="#basic" class="btn blue-madison btn-xs btn-outline audit-appeal"   data-id="{{:id}}" data-type="1"><i class="fa fa-edit"></i> 处理 </a>
              {{/if}}
			<a href="#basic" class="btn dark btn-xs b-close"><i class="fa fa-edit"></i> 关闭 </a>
		</div>
	</div>
	{{/for}}
</div>