<div class="m-detail-wrap">
  <div class="m-close u-close">X</div>
  <div class="m-d m-title">
    <div class="v-sub-title ">
      <div class="col-1">生成vip充值金额</div>
      <div class="col-2 font-red-thunderbird"></div>
      <div class="col-1"></div>
      <div class="col-2 font-red-thunderbird"></div>
    </div>
  </div>
  <div class="m-d m-d-main">
    <div class="col-11 m-d-item">
      <li class="v-m-title">
        <div class="col-1">
          选择类别并生成报表
        </div>
      </li>
      <li>
        <div>
          <form name="iForm" methood="post" action="">
            
            <div class="m-row">
              <div><input type="checkbox" name="fin" title="账户余额" value="auditShop">账户余额</div>
              <div><input type="checkbox" name="fin" title="冻结金额" value="auditTask" data-type='pay'>冻结金额</div>
              <div><input type="checkbox" name="fin" title="充值任务金额" value="auditTask" data-type='browse'>充值任务金额</div>
              <div><input type="checkbox" name="fin" title="发布垫付任务金额" value="auditRecharge">发布垫付任务金额</div>
              <div><input type="checkbox" name="fin" title="发布垫付任务佣金" value="auditVipRecharge" data-type='1'>发布垫付任务佣金</div>
              <div><input type="checkbox" name="fin" title="发布垫付任务保证金" value="appealHandle" data-type='1'>发布垫付任务保证金</div>
              <div><input type="checkbox" name="fin" title="发布垫付任务单数" value="defriendLog">发布垫付任务单数</div>
            
              <div><input type="checkbox" name="fin" title="发布浏览任务金额" value="auditIdCard">发布浏览任务金额</div>
              <div><input type="checkbox" name="fin" title="发布浏览任务佣金" value="auditAccount">发布浏览任务佣金</div>
              <div><input type="checkbox" name="fin" title="发布浏览任务单数" value="auditQQ">发布浏览任务单数</div>
              <div><input type="checkbox" name="fin" title="提现金额" value="auditVipRecharge" data-type='0'>提现金额</div>
              <div><input type="checkbox" name="fin" title="手续费" value="appealHandle" data-type='0'>手续费</div>
            
              <div><input type="checkbox" name="fin" title="vip充值金额" value="chartSelAccount">vip充值金额</div>
              <div><input type="checkbox" name="fin" title="vip时限" value="chartBuyAccount">vip时限</div>
              <div><input type="checkbox" name="fin" title="快递面单数" value="XXXX">快递面单数</div>
              <div><input type="checkbox" name="fin" title="面单金额" value="XXXX">面单金额</div>
              <div><input type="checkbox" name="fin" title="罚款金额" value="XXXX">罚款金额</div>
              <div><input type="checkbox" name="fin" title="商家推广奖励金" value="XXXX">商家推广奖励金</div>
            </div>
          </form>
        </div>
      </li>
    </div>
  </div>
  <div class="m-d m-d-main">
    <div class="m-d-item col-11">
      <li>
        <div class="col-1 col-btn">
          
          <a href="#" class="btn red btn-addrole">创建报表</a>
          <a href="#" class="btn grey-mint u-close" id="return-list">关闭</a></div>
        </li>
      </div>
    </div>
  </div>