  <div class="m-detail-wrap">
      <div class="m-close">X</div>
       <div class="m-d m-title">
          <div class="v-sub-title ">
             <div class="col-1">用户编辑</div>
               <div class="col-2 font-red-thunderbird"></div>
               <div class="col-1"></div>
               <div class="col-2 font-red-thunderbird"></div>
          </div>
        </div>
    <div class="m-d m-d-main">
      <div class="col-11 m-d-item">
        <li class="v-m-title">
            <div class="col-1">
              <span class="icon-list"></span>
              <span class="m-step"></span>
              用户名称
            </div>
          </li>
        <li>
            <div style="width:50%"><input style="width:100%" id="userName" name="name" /></div>
        </li>

        <li class="v-m-title">
            <div class="col-1">
              <span class="icon-list"></span>
              <span class="m-step"></span>
              用户密码
            </div>
        </li>
        <li>
            <div style="width:50%"><input style="width:100%" id="password" name="name" /></div>
        </li>

      </div>

    </div>
<div class="m-d m-d-main">
        <div class="m-d-item col-6">
          <li>
            <div class="col-1 col-btn">
              
              <a href="#" class="btn btn-xs red" id="submit-role">创建</a>
              <a href="#" class="btn btn-xs grey-mint b-close" id="return-list">关闭</a></div>
          </li>
        </div>
    </div>
</div>