<div class="m-detail-wrap">
  <div class="m-close">X</div>
  <div class="m-d m-title">
    <div class="v-sub-title ">
      <div class="col-1">店铺名称</div>
      <div class="col-2 font-red-thunderbird">{{:shopName}}</div>
      <div class="col-1">所属平台</div>
      <div class="col-2 font-red-thunderbird">{{:shopType}}</div>
    </div>
  </div>
</div>