<div class="m-detail-wrap">
  <div class="m-close">X</div>
  <div class="m-d m-title">
    <div class="v-sub-title ">
      <div class="col-1">订单编号</div>
      <div class="col-2 font-red-thunderbird">{{:id}}</div>
      <div class="col-1">佣金</div>
      <div class="col-2 font-red-thunderbird">{{:baseMoney}}</div>
    </div>
  </div>
  <div class="m-d m-d-main">
    <div class="m-d-item col-1">

      <li class="v-m-title">
        <div class="col-1"><span class="icon-basket"></span>店铺名称：{{:shopName}}</div>
      </li>
      
      <li>
        <div class="col-1 v-img"><img src="{{:~root.imgPrefix}}{{:goodsList[0].goodsmainimg}}"></div>
      </li>
    </div>
    <div class="m-d-item col-1">
      <li class="v-m-title">
        <div class="col-1"><span class="icon-drawer"></span>目标商品</div>
      </li>
      <li>
        <div class="col-1">商品名称</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:goodsList[0].goodsname}}</div>
      </li>
      <li>
        <div class="col-1">商品链接</div>
        <div class="col-2 font-red-thunderbird fn-right"><a href="{{:goodsList[0].goodsurl}}" target="_blank">{{:goodsList[0].goodsurl}}</a></div>
      </li>
      <li>
        <div class="col-1">搜索展示价格</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:goodsList[0].searchprice}}元</div>
      </li>
      <li>
        <div class="col-1">商品成交价格</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:goodsList[0].factprice}}元</div>
      </li>
      <li>
        <div class="col-1">件数</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:goodsList[0].number}}件</div>
      </li>
    </div>
  </div>


  <div class="m-d m-d-main">
    <div class="m-d-item col-1">
      <li class="v-m-title">
        <div class="col-1"><span class="icon-layers"></span>任务要点</div>
      </li>
      <li>
        <div class="col-1">任务类型</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:tasktype}}</div>
      </li>
      <li>
        <div class="col-1">规则尺码</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:goodsList[0].colorSize}}</div>
      </li>
      {{if goodsList[0].goodsposition}}
      <li>
        <div class="col-1">商品所在地</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:goodsList[0].goodsposition}}</div>
      </li>
      {{/if}}
      {{if goodsList[0].lowprice}}
      <li>
        <div class="col-1">价格区间</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:goodsList[0].lowprice}}-{{:goodsList[0].highprice}}</div>
      </li>
      {{/if}}
      {{if goodsList[0].salesVolume}}
      <li>
        <div class="col-1">商品现有销量约</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:goodsList[0].salesVolume}}</div>
      </li>
      {{/if}}
      {{if goodsList[0].locationway}}
      <li>
        <div class="col-1">定位商品排序</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:goodsList[0].locationway}}</div>
      </li>
      {{/if}}
      {{if goodsList[0].tbLocation}}
      <li>
        <div class="col-1">商品定位</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:~formatTaobaoPos(tbLocation)}}</div>
      </li>
      {{/if}}
      {{if goodsList[0].orderwords}}
      <li>
        <div class="col-1">订单留言</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:goodsList[0].orderwords}}</div>
      </li>
      {{/if}}
<!--       <li>
        <div class="col-1">是否假聊</div>
        <div class="col-2 font-red-thunderbird fn-right">{{if chatNecessary}}是{{else}}否{{/if}}</div>
      </li> -->

    </div>
    <div class="m-d-item col-1">
      <li class="v-m-title">
        <div class="col-1"><span class="icon-star"></span>增值服务</div>
      </li>
      <li>
        <div class="col-2">是否聊天</div>
        <div class="col-1 font-red-thunderbird fn-right">
        {{:~formatBool(chatNecessary)}}</div>
      </li>
      <li>
        <div class="col-2">是否优先展示任务</div>
        <div class="col-1 font-red-thunderbird fn-right">
         {{:showFirst}}金 </div>
      </li>
      <li>
        <div class="col-2">加赏任务佣金：每单加赏</div>
        <div class="col-1 font-red-thunderbird fn-right">
        {{:addcharges}} </div>
      </li>
      <li>
        <div class="col-2">订单优先审核</div>
        <div class="col-1 font-red-thunderbird fn-right">
        {{:~formatBool(auditFirst)}} </div>
      </li>
      <li>
        <div class="col-2">性别选择</div>
        <div class="col-1 font-red-thunderbird fn-right">
        {{:~formatBool(sex)}} </div>
      </li>
      <li>
        <div class="col-2">人群年龄段</div>
        <div class="col-1 font-red-thunderbird fn-right">
        {{:~formatAge(ageLimit)}} </div>
      </li>
      <li>
        <div class="col-2">区域限制</div>
        <div class="col-1 font-red-thunderbird fn-right">
        {{:~formatNull(location)}}</div>
      </li>
      <li>
        <div class="col-2">淘宝会员等级</div>
        <div class="col-1 font-red-thunderbird fn-right">
        {{:~formatTaobaoLevel(taobaoLeve)}} </div>
      </li>
      <li>
        <div class="col-2">重复购买限制</div>
        <div class="col-1 font-red-thunderbird fn-right">
        {{:~formatRepeat(rebuy)}} </div>
      </li>
      <li>
        <div class="col-2">是否允许使用信用卡/花呗/白条</div>
        <div class="col-1 font-red-thunderbird fn-right">
        {{:~formatBool(useHuabei) }} </div>
      </li>
      <li>
        <div class="col-2">是否要求账号需要开通白条/花呗</div>
        <div class="col-1 font-red-thunderbird fn-right">
        {{:~formatBool(huabeiStart) }} </div>
      </li>
      <li>
        <div class="col-2">是否默认签收</div>
        <div class="col-1 font-red-thunderbird fn-right">
        {{:~formatBool(isRecieve)}} </div>
      </li>
      <li>
        <div class="col-2">问大家</div>
        <div class="col-1 font-red-thunderbird fn-right">{{:~formatBool(ask)}}
       </div>
      </li>
      <li>
        <div class="col-2">是否向平台购买面单</div>
        <div class="col-1 font-red-thunderbird fn-right">
        {{:~formatBool(buyExpress)}} </div>
      </li>
    </div>
  </div> 


    <div class="m-d m-d-main m-task">
    
    {{for taskKeyList}}
    <div class="m-d-item col-1 m-d-task">
      <li class="v-m-title">
        <div class="col-1">
          <span class="icon-layers"></span>第 {{:#index+1}}个任务
        </div>
      </li>
      <li>
        <div class="col-1">评论要求</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:~formatEvalReq(taskkeyType)}}</div>
      </li>
      
      <li>
        <div class="col-1">任务时间段：<span class="font-red-mint">{{:fromHour}}:{{:fromMin}}-{{:toHour}}:{{:toMin}}</span></div>
      </li>
      <li>
        <div class="col-1">搜索关键字: <span class="font-red-mint">{{:keyword}}</span></div>
      </li>

      {{if appoints.length}}
      <li>
        <div class="col-1">指定关键词：<span class="font-red-mint">{{:appoints}}</span></div>
      </li>
      {{/if}}
      
      
      {{if taskPictureList.length>0}}
      <li>
        <div class="col-1">好评图片图
      </li>
      <li>
        <div class="col-2 font-red-mint">
          {{for taskPictureList}}
          {{if picture}}
          <a href="{{:~root.imgPrefix}}{{:picture}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:picture}}" style="width: 60px; height: 60px; border: 1px solid #ccc;"></a>
          {{/if}}
          {{/for}}</div>
      </li>
      {{/if}}

      {{if goodComment}}
      <li>
        <div class="col-1">指定文字内容：<span class="font-red-mint">{{:goodComment}}</span></div>
      </li>
      {{/if}}

    </div>
    {{/for}}

    </div>



  <div class="m-d m-d-main">
    <div class="m-d-item col-1">
      <li class="v-m-title">
        <div class="col-1"><span class="icon-speech"></span>买家额外要求</div>
      </li>
      <li>
        <div class="col-1 font-red-thunderbird">{{:explains}}</div>
      </li>
    </div>
  </div>
</div>