{{for data}}
<div class="u-wrap">
  <div class="u-row u-row-info">

    <div class="u-id"><span>{{:id}}</span></div>
    <div class="u-col u-seller"">
      <div class="u-status-info">
        <div class="u-status">{{:~formatFrozen(frozen)}}</div>
        <div class="u-status">LV5</div>
        <div class="u-status u-vip">{{if memberValid==true}}{{:memberEndDate}}{{/if}}{{if memberValid==false}}无{{/if}}</div>
      </div>
 
        <div class="u-col-info">注册：<span class="font-sred">{{:~formatTime(regtime)}}</span></div>
        <div class="u-col-info">推广：<span class="font-sred">20</span></div>
        <div class="u-col-info">信誉：<span class="font-sred">90</span></div>
        <div class="u-col-info">余额：<span class="font-sred">2000</span></div>
        <div class="u-col-info">tel：<span class="font-sred">{{:mobile}}</span></div>       
    </div>
  </div>
  <div class="u-row">
    <div class="u-col u-shops">
      {{if shopList}}
      {{for shopList}}
      <div class="u-row u-shop">
        <div class="u-col u-col-shopname">
          <a href="javascript:;" class="btn blue-steel btn-xs btn-detail-shopname" data-id="{{:id}}"> {{:name}} </a>
        </div>
        <div class="u-col u-task">
          <a href="javascript:;" class="btn blue-steel btn-xs btn-detail-pay" data-id="{{:id}}" > 垫付任务 </a>
          <a href="javascript:;" class="btn blue-steel btn-xs btn-detail-browse" data-id="{{:id}}" > 浏览任务 </a>
          <a href="javascript:;" class="btn red-mint btn-xs btn-detail-oneappeal1" data-id="{{:id}}" > 发起的申诉 </a>
          <a href="javascript:;" class="btn red-mint btn-xs btn-detail-zeroappeal1" data-id="{{:id}}" > 收到的申诉 </a>
        </div>
        <div class="u-col u-finance">
          
          <a href="javascript:;" class="btn yellow btn-xs btn-detail-recharge" data-id="{{:id}} " > 充值 </a>
          <a href="javascript:;" class="btn green btn-xs btn-detail-putforward" data-id="{{:id}} " > 提现 </a>
          <a href="javascript:;" class="btn blue btn-xs uppercase btn-detail-express" data-id="{{:id}} " > 快递 </a>
        </div>
        <div class="u-col u-opt">
          <a href="javascript:;" class="btn red-sunglo btn-xs btn-setvip" data-id="{{:id}} " > 设置VIP </a>
          <a href="javascript:;" class="btn red-sunglo btn-xs btn-remarks" data-id="{{:id}} " > 级别备注 </a>
          <a href="javascript:;" class="btn red-sunglo btn-xs btn-punish" data-id="{{:id}} " >违规处理 </a>
          <a href="javascript:;" class="btn red-sunglo btn-xs btn-activity" data-id="{{:id}} " >平台活动 </a>
        </div>
      </div>
      {{/for}}
      {{/if}}
      
    </div>
    
  </div>
</div>
{{/for}}