<table class="table table-hover table-light">
    <thead>
        <tr class="uppercase">
            <th> 序号 </th>
            <th> 平台 </th>
            <th> 店铺ID</th>
            <th> 店铺名称 </th>
            <th> 店铺类别 </th>
            <th> 店铺地址 </th>
            <th> 店铺图片 </th>
            <th> 审核状态 </th>
            <th> 审批原因 </th>
            <th> 操作 </th>
        </tr>
    </thead>
    <tbody>
      {{for data}}
        <tr>
            <td> {{:#index+1 + ~root.pageSize*~root.pageIndex}} </td>
            <td> {{:type}} </td>
            <td> {{:id}} </td>
            <td> <a href="#basic" class="shop-name" data-toggle="modal" data-index="{{:#index}}">{{:name}}</a></td>
            <td> {{:businesstype}}{{if subtype}} - {{:subtype}}{{/if}}</td>
            <td> {{:addressProvince}} - {{:addressCity}} - {{:addressCounty}}</td>
            <td> <a href="{{:~root.imgPrefix}}{{:shopimg1}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:shopimg1}}" style="width: 60px; height: 60px;"></a></td>
            <td class="pass{{:approveState}}">{{:approveStr}}</td>
            <td> {{:approveReason}}</td>
            <td class="fn-center"> 
              {{if !approveState}}
              <a href="#" class="btn red btn-sm btn-outline audit-shop"   data-id="{{:id}}" data-type="unpass"><i class="fa fa-edit"></i> 不通过 </a>
              <a href="#" class="btn blue-madison btn-sm btn-outline audit-shop"   data-id="{{:id}}" data-type="pass"><i class="fa fa-edit"></i> 通过 </a>
              {{/if}}
            </td>
        </tr>
      {{/for}}
    </tbody>
  </table>