<table class="table table-hover table-light">
    <thead>
        <tr class="uppercase">
            <th> 序号 </th>
            <th> 用户名 </th>
            <th> 身份证 </th>
            <th> 身份证正面 </th>
            <th> 身份证反面 </th>
            <th> 审核状态 </th>
            <th> 审核原因 </th>
        </tr>
    </thead>
    <tbody>
      {{for data}}
        <tr>
            <td> {{:#index+1 + ~root.pageSize*~root.pageIndex}} </td>
            <td> {{:name}}</td>
            <td> {{:idcard}} </td>
            <td> <a href="{{:~root.imgPrefix}}{{:idcardpng1}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:idcardpng1}}" style="width: 150px; height: 100px;"></a></td>
            <td> <a href="{{:~root.imgPrefix}}{{:idcardpng2}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:idcardpng2}}" style="width: 150px; height: 100px;"></a></td>
            <td class="pass{{:approveState}}"> {{:approveStateSting}} </td>
            <td> {{:approveReason}} </td>
            <td class="fn-center"> 
              {{if approveState==1}}
              <a href="#basic" class="btn red btn-sm btn-outline audit-task"   data-id="{{:id}}" data-type="unpass"><i class="fa fa-edit"></i> 不通过 </a>
              <a href="#basic" class="btn blue-madison btn-sm btn-outline audit-task"   data-id="{{:id}}" data-type="pass"><i class="fa fa-edit"></i> 通过 </a> {{/if}}
            </td>
        </tr>
      {{/for}}
    </tbody>
  </table>