{{for data}}
<table class="ui table">
    <thead>
        <tr><th class="six wide">店铺ID：{{:shop}}</th>
        <th class="ten wide">数据</th>
    </tr></thead>
    <tbody>
        <tr>
            <td>电商平台</td>
            <td>{{:type}}</td>
        </tr>
        <tr>
            <td>店铺名称</td>
            <td>{{:shopName}}</td>
        </tr>
        <tr>
            <td>店铺地址</td>
            <td><a href="{{:shopurl}}" target="_blank">点击查看</a></td>
        </tr>
        <tr>
            <td>店铺类型</td>
            <td>{{:businesstype}} - {{:subtype}}</td>
        </tr>
        <tr>
            <td>发货地址</td>
            <td>{{:address}}</td>
        </tr>
        <tr>
            <td>店铺状态</td>
            <td>{{:~formatFrozen(frozen)}}</td>
        </tr>
        <tr>
            <td>审核意见</td>
            <td>{{:bindStatusStr}}</td>
        </tr>
    </tbody>
    <tfoot>
    <tr>
        <th>操作</th>
        <th> 
            <a href="#basic" class="btn red btn-xs  audit-task" data-id="{{:id}}" data-type="shop-unpass">不通过 </a>
            <a href="#basic" class="btn blue-madison btn-xs  audit-task" data-id="{{:id }}" data-type="shop-pass">通过 </a>
        </th>
    </tr>
    </tfoot>
</table>
{{/for}}