{{for}}
<table class="ui table">
  <thead>
    <tr>
      <th class="six wide">店铺ID：{{:shop}}</th>
      <th class="ten wide">数据</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>电商平台</td>
      <td>{{:type}}</td>
    </tr>
    <tr>
      <td>店铺名称</td>
      <td>{{:shopName}}</td>
    </tr>
    <tr>
      <td>店铺地址</td>
      <td><a href="{{:shopurl}}" target="_blank">点击查看</a></td>
    </tr>
    <tr>
      <td>店铺类型</td>
      <td>{{:businesstype}} - {{:subtype}}</td>
    </tr>
    <tr>
      <td>发货地址</td>
      <td>{{:address}}</td>
    </tr>
    <tr>
      <td>店铺状态</td>
      <td>{{:~formatFrozen(frozen)}}</td>
    </tr>
    <tr>
      <td>审核意见</td>
      <td>{{:bindStatusStr}}</td>
    </tr>
  </tbody>
  <tfoot>
  <tr>
   <th>操作</th>
   <th>
     <a href="#basic" class="btn grey-mint btn-xs frozen-account" data-cid="{{:id}}"  data-id="{{:buyerTaskId}}" data-type="1"> 冻结账号 </a>
    <a href="#basic" class="btn grey-mint btn-xs cancel-order"   data-cid="{{:id}}" data-id="{{:buyerTaskId}}" data-type="1">  撤单 </a>
     <a href="#basic" class="btn blue-steel btn-xs change-money"   data-cid="{{:id}}" data-id="{{:buyerTaskId}}" data-type="1"> 修改价格 </a>
     <a href="#basic" class="btn blue-steel btn-xs platform-pay"   data-cid="{{:id}}" data-id="{{:buyerTaskId}}" data-type="1"> 平台返佣 </a>
     <a href="#basic" class="btn blue-steel btn-xs cancel-pay"   data-cid="{{:id}}" data-id="{{:buyerTaskId}}" data-type="1">  取消佣金 </a>
    </th>
  </tr>
  </tfoot>
</table>
{{/for}}