<table class="table table-hover table-light">
    <thead>
        <tr class="uppercase">
            <th> # </th>
            <th> 状态</th>
            <th> 充值时间 </th>
            <th> 充值类型 </th>
            <th> 充值金额 </th>
            <th> 转账银行 </th>
            <th> 转账账号 </th>
            <th> 充值账号 </th>
            <th> 充值凭证 </th>
            <th> 功能 </th>
        </tr>
    </thead>
    <tbody>
      {{for data}}
        <tr>
            <td> {{:#index+1 + ~root.pageSize*~root.pageIndex}} </td>
            <td> {{:approveString}}</td>
            <td> {{:~formatTime(createtime)}} </td>
            <td> {{:membershipFeeName}} </td>
            <td> {{:transferMoney}} </td>
            <td> {{:bankName}} </td>
            <td> {{:fromAccount}}</td>
            <td> {{:toAccount}}</td>
            <td> <a href="{{:~root.imgPrefix}}{{:picture}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:picture}}" style="width: 100px; height: 70px;"></a> </td>
            <td>
                {{if !approve}}
              <a href="#basic" class="btn red btn-sm btn-outline audit-task"   data-id="{{:id}}" data-type="unpass"><i class="fa fa-edit"></i> 不通过 </a> {{/if}}
              {{if !approve}}
              <a href="#basic" class="btn blue-madison btn-sm btn-outline audit-task"   data-id="{{:id}}" data-type="pass"><i class="fa fa-edit"></i> 通过 </a> {{/if}}
            </td>
        </tr>
      {{/for}}
    </tbody>
  </table>