<div class="m-detail-wrap">
    <div class="m-close"></div>
    <table class="table table-hover table-light">
        <thead>
            <tr class="uppercase">
                <th> # </th>
                <th> 电商平台 </th>
                <th> 店铺名称 </th>
                <th> 店铺地址 </th>
                <th> 手机 </th>
                <th> 店铺类型 </th>
                <th> 发货地址 </th>
                <th> 店铺状态 </th>
                <th> 审核意见 </th>

            </tr>
        </thead>
        <tbody>
          {{for data}}
            <tr>
                <td> #{{:index+1}} </td>
                <td> {{:type}} </td>
                <td> {{:name}} </td>
                <td> <a href="{{:shopurl}}" target="_blank">{{:shopurl}}</a> </td>
                <td> {{:mobile}}</td>
                <td> {{:businesstype}} - {{:subtype}}</td>
                <td class="word-break"> {{:address}} </td>
                <td class="pass{{:approveState}}"> {{:approveStr}} </td>
                <td>  </td>

            </tr>
          {{/for}}
        </tbody>
    </table>
</div>