<div class="m-detail-wrap">
    <div class="m-close"></div>
    <table class="table table-hover table-light">
        <thead>
            <tr class="uppercase">
                <th> 店铺ID</th>
                <th> 电商平台 </th>
                <th> 店铺名称 </th>
                <th> 店铺地址 </th>
                <th> 店铺类型 </th>
                <th> 发货地址 </th>
                <th> 店铺状态 </th>
                <th> 审核意见 </th>
            </tr>
        </thead>
        <tbody>
            {{for data}}
            <tr>
                <td> #{{:shop}} </td>
                <td> {{:type}} </td>
                <td> {{:shopName}} </td>
                <td> <a href="{{:shopurl}}" target="_blank">点击查看</a> </td>
                <td> {{:businesstype}} - {{:subtype}}</td>
                <td class="word-break"> {{:address}} </td>
                <td class="status">{{:~formatFrozen(frozen)}}</td>
                <td class="pass{{:approveState}}"> {{:bindStatusStr}} </td>
            </tr>
            {{/for}}
        </tbody>
    </table>
</div>