<table class="table table-hover table-light">
    <thead>
        <tr class="uppercase">
            <th>  </th>
            <th class="u-dt"> 发布时间 </th>
            <th class="buyername"> 姓名 </th>
            <th> 银行账号 </th>
            <th> 银行名称 </th>
            <th> 申请提现金额 </th>
            <th> 实际到账结金额 </th>
            <th> 提现种类 </th>
            <th> 小费 </th>
            <th> 审核状态 </th>
            <th> 导入 </th>
            <th> 导出 </th>
            
        </tr>
    </thead>
    <tbody>
      {{for data}}
        <tr>
            <td> {{:#index+1 + ~root.pageSize*~root.pageIndex}}</td>
            <td class="u-dt"> {{:~formatTime(createtime)}}</td>
            <td class="buyername"> {{:buyerName}}</td>
            <td> {{:toAccount}} </td>
            <td> {{:toBank}}</td>
            <td> {{:withdrawMoney}}</td>
            <td> {{:actualValue}}</td>
            <td> {{:remark}}</td>
            <td> {{:serviceFee}}</td>
            <td> {{:state}}</td> 
            <button class="input"> 导入 </button>
            <button class="output"> 导出 </button>


        </tr>
      {{/for}}
    </tbody>
  </table>