<div class="mainmenu">
{{for data}}
<li class="nav-item active open">
            <a href="javascript:;" class="nav-link nav-toggle">
              <i class="icon-home"></i>
              <span class="title">{{:name}}</span>
              <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
			
            </ul>
          </li>
{{/for}}
</div>