<div class="card-columns" style="padding-top: 5px; width: 100%">
{{for data}}
	<div class="card">
  <div class="card-header">
    &nbsp;&nbsp;{{:name}}&nbsp;&nbsp;&nbsp;&nbsp;{{if secondMenu==""}}<a data-id="{{:id}}" class="btn dark btn-xs del-menu">删除</a> | {{/if}}<a data-id="{{:id}}" data-name="{{:name}}" class="btn dark btn-xs add-menu" data-type="2"> 新增 </a>
  </div>
  <div class="card-block">
    <blockquote class="card-blockquote">
    	{{for secondMenu}}
    		<p>&nbsp;&nbsp;&nbsp;&nbsp;{{:name}}&nbsp;&nbsp;&nbsp;&nbsp;<a data-id="{{:id}}" class="btn dark btn-xs del-menu">删除</a></p>
		{{/for}}
    </blockquote>
  </div>
</div>
{{/for}}
</div>