<div class="card-columns" style="padding-top: 5px; width: 100%">
{{for data}}
	<div class="card">
  <div class="card-header">
    &nbsp;&nbsp;{{:name}}&nbsp;&nbsp;&nbsp;&nbsp;{{if secondMenu==""}}<a class="btn dark btn-xs">删除</a> | {{/if}}<a class="btn dark btn-xs">新增</a> | <a class="btn dark btn-xs">编辑</a>
  </div>
  <div class="card-block">
    <blockquote class="card-blockquote">
    	{{for secondMenu}}
    		<p>&nbsp;&nbsp;&nbsp;&nbsp;{{:name}}&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn dark btn-xs">删除</a> | <a class="btn dark btn-xs">编辑</a></p>
		{{/for}}
    </blockquote>
  </div>
</div>
{{/for}}
</div>