<table class="table table-hover table-light">
    <thead>
        <tr class="uppercase">
            <th></th>
            <th> 创建时间 </th>
            <th> 角色名称 </th>
            <th> 角色描述</th>
			<th> 创建人</th>
            <th> 功能 </th>
        </tr>
    </thead>
    <tbody>
      {{for data}}
        <tr>
            <td> {{:#index+1 + ~root.pageSize*~root.pageIndex}} </td>
            <td> {{:~formatTime(createTime)}} </td>
            <td> {{:name}}</td>
            <td> {{:description}}</td>
            <td> {{:creator}}</td>
			<td>
				<a href="#basic" class="btn red btn-xs btn-outline delete-role"   data-id="{{:id}}"><i class="fa fa-delete"></i> 删除 </a>
				<a href="#basic" class="btn red btn-xs btn-outline detail-role-menu"   data-id="{{:id}}"><i class="fa fa-edit"></i> 修改 </a>
            </td>
        </tr>
      {{/for}}
    </tbody>
  </table>