<div class="card-columns" style="padding-top: 5px; width: 100%">
{{for data}}
	<div class="card">
  <div class="card-header">
    &nbsp;&nbsp;<input type="checkbox" _id="{{:id}}" /> {{:name}}&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
  <div class="card-block">
    <blockquote class="card-blockquote">
    	{{for secondMenu}}
    		<p>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" _id="{{:id}}" /> {{:name}}</p>
		{{/for}}
    </blockquote>
  </div>
</div>
{{/for}}
</div>