body {
    min-width: 1050px;
}

.form-group .btn {
  width: 120px;

}

.wide-2x {
    width: 200px;
}

.form-inline {
    display: flex;
}

.form-inline input {
    order:1;
}

.form-info {
    margin: 5px 0 5px 10px;
    order:2;
}

