

.form-group button {
  width: 200px;
}

.form-info {
  padding-top: 7px;
  color:#aaa;
}

.id-card-box .row {
  margin-left: 0;
}

.form-group .wide-3 {
  width: 400px;
}

.form-group .wide-s1 {
  width: 50px;
}