.form-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.form-search div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}

.form-search label {
  margin-right: 10px;
}

.form-search .form-control {
  width: 180px;
}

.form-search .date {
  margin-right: 0;
}

.m-sbar {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.m-sbar>div,.m-sbar>a {
  margin-right: 15px;
}

.m-sbar>div>select,.m-sbar>div>input {
  display: inline-block;
  width: 100px;
}


table td {
  max-width: 100px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.m-sbar>div>input.u-dt {
  width: 140px;
}

select.form-control {
  height: 25px;
}
