

.pass {
  color: #ff6600;
}

.pass1 {
  color: #006699;
}

.pass2 {
  color: #f00000;
}

.word-break {
  max-width: 240px;
  word-break:break-all;
}


.table th:nth-child(2) {
    min-width: 80px;
}

.table th:nth-child(3) {
    min-width: 80px;
}

.table td:nth-child(4) {
    min-width: 200px;
    max-width: 300px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.table th:nth-child(5) {
    min-width: 80px;
}

.table th:nth-child(6) {
    min-width: 120px;
}

.table th:nth-child(7) {
    min-width: 80px;
}

.table th:nth-child(8) {
    min-width: 80px;
}

.table th:nth-child(9) {
    min-width: 180px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px ;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #e7ecf1;
}