body {
    min-width: 950px;
}

.form-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.form-search div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
}

.form-search label {
    margin-right: 20px;
}

.form-search .form-control {
    width: 180px;
}

.form-search .date {
    margin-right: 0;
}

.form-info {
    padding-top: 7px;
    color: #aaa;
}