22body {
    min-width: 1000px;
}


.m-sbar {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.m-sbar>div,.m-sbar>a {
    margin-right: 15px;
}

.m-sbar>div>select,.m-sbar>div>input {
    display: inline-block;
    width: 100px;
}


table td {
    max-width: 100px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}


.m-sbar>div>input.u-dt {
    width: 130px;
}







.u-wrap {
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 5px;
}

.u-row {
    display: flex;
    flex-direction: row;
    padding: 5px;
    position: relative;
}

.u-row>div {
    display: flex;
    margin-right: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}


.u-row>div>a {
    margin-right: 10px;
}

.u-id {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: 0;
    left: 0;
}

.u-col {
    flex:1;
}

.u-col>div {
    margin: 0 0 5px 0;
}

.u-sell {
    margin-left: 45px;
    position: relative;
    flex:2;
}

.u-shoptype {
    position: absolute;
    bottom: 0;
    left: -45px;
}

.u-money {
    width: 120px;
    align-items: center;
}

.u-buy {
    min-width: 320px;
}

.u-exp {
    width: 180px;
    align-items: center;
}

.u-status,.u-func {
    width: 120px;
    align-items: center;
}


.u-col.u-func {
    display: block;
}

.u-col.u-func>a {
    margin: 0 5px 5px;
}

.u-ck {
    position: absolute;
    top: 25px;
}