.g-vip,.g-info {
    margin: 20px auto;
    width: 800px;
    font-size: 16px;
}


.u-row {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    padding: 15px;
    /*background: #666;*/
    /*border-bottom: 1px solid #666;*/
}

.u-row-t {
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.u-row label {
    flex: 1;
    margin:0;
}

.u-row a {
    margin-right: 20px;
    width: 300px;
}

.u-row span {
    flex: 2;
    
}

.u-row-l {
    text-align: center;
}

.u-row-r span {
    padding-left: 15px;
    padding-right: 15px;
}

img {
    margin: 45px;
    margin-bottom: 0;
    width: 102.5px;
    height: 102.5px;
    vertical-align: middle;
}

.span-grey {
    color: lightgrey;
}

.g-info.g-rights img {
    margin: 118.335px;
    margin-top: 0;
    margin-bottom: 0;
    width:  20px;
    height: 20px;
}