
.form-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.form-search div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
}

.form-search label {
    margin-right: 20px;
}

.form-search .form-control {
    width: 180px;
}


.form-search select {
    height: 30px;
}

.form-search a {
    margin-right: 10px;
}


.u-wrap {
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 5px;
}

.u-row {
    display: flex;
    flex-direction: row;
    padding: 5px;
    position: relative;
}

.u-row>div {
    display: flex;
    margin-right: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}


.u-row>div>a {
    margin-right: 10px;
    width: 100px;
}

.u-id {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: 0;
    left: 0;
}

.u-col {
    flex:1;
}

.u-col>div {
    margin: 0 0 5px 0;
}

.u-sell {
    margin-left: 45px;
    position: relative;
    flex:2;
}

.u-shoptype {
    position: absolute;
    bottom: 0;
    left: -45px;
}

.u-money {
    min-width: 125px;
    /*align-items: center;*/
}

.u-buy {
    min-width: 320px;
}

.u-exp {
    min-width: 180px;
    align-items: center;
}

.u-status,.u-func {
    width: 120px;
    align-items: center;
}


.u-col.u-func {
    display: block;
}

.u-col.u-func>a {
    margin: 0 5px 5px;
}

.u-ck {
    position: absolute;
    top: 25px;
}

a {
    position: relative;
    cursor: pointer;
}


