
{{for data}}
<li>
    <div class="col-1">
      <span class="u-msg-time">{{:~formatTime(createtime)}}</span>  
      <span class="u-msg-title">{{:title}}</span> 
    </div>
</li>
<li>
    <div class="col-1">{{:content}}</div>
</li>
{{/for}}