<table class="table table-hover table-light">
    <thead>
        <tr class="uppercase">
            <td>         </td>
            <td class="m-appeal"> 申诉类型 </td>
            <td class="m-img"> 图片证明 </td>
            <td class="m-proc"> 处理内容 </td>
        </tr>
    </thead>
    <tbody>
      {{for data}}
        <tr>
            <td> {{:#index+1 + ~root.pageSize*~root.pageIndex}} </td>
            <td class="m-appeal"> 
                <span>创建时间: {{:~formatTime(createtime)}} </span>
                <span>申诉类型: {{:~formatAppeal(type)}}</span>
                <span>任务编号: {{:taskCode}}</span>
                <span>申诉对象: {{:mobile}}</span>
            </td>
            <td class="m-img">  
                {{if picture1}}<a href="{{:~root.imgPrefix}}{{:picture1}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:picture1}}" style="width: 60px; height: 60px;"></a>{{/if}}
                {{if picture2}}<a href="{{:~root.imgPrefix}}{{:picture2}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:picture2}}" style="width: 60px; height: 60px;"></a>{{/if}}
                {{if picture3}}<a href="{{:~root.imgPrefix}}{{:picture3}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:picture3}}" style="width: 60px; height: 60px;"></a>{{/if}}
                {{if picture4}}<a href="{{:~root.imgPrefix}}{{:picture4}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:picture4}}" style="width: 60px; height: 60px;"></a>{{/if}}
                {{if picture5}}<a href="{{:~root.imgPrefix}}{{:picture5}}" class="fancybox"><img src="{{:~root.imgPrefix}}{{:picture5}}" style="width: 60px; height: 60px;"></a>{{/if}}
            </td>
            <td class="m-proc">  
                <span>处理情况: {{if handleStatus==0}}未处理{{/if}}{{if handleStatus==1}}已处理{{/if}}</span>
                <span>处理时间: {{if handleTime}}{{:~formatTime(handleTime)}}{{/if}}</span>
                <span>处理描述: {{:handleResult}}</span>
            </td>
        </tr>
      {{/for}}
    </tbody>
  </table>