<form action="#" id="form-bind" class="form-horizontal form-bordered">
  <div class="form-group  form-inline">
    <label class="control-label col-xs-2">开户姓名
      <span class="required"> * </span>
    </label>
    <div class="col-xs-6">
      <input type="text" class="form-control wide-3" id="acount-name" placeholder="请先绑定身份证" value="{{:name}}" name="name" {{:type}} readonly>
    </div>
  </div>
  <div class="form-group form-inline">
    <label class="control-label col-xs-2">银行名称
      <span class="required"> * </span>
    </label>
    <div class="col-xs-6">
      <select class="form-control " id="bank" {{:type}} name="bank">
        <option value="">请选择银行</option>
        {{for banks}}
        <option value="{{:#data}}" {{if (~root.status != -1) && #data == ~root.bank}}selected{{/if}} >{{:#data}}</option>
        {{/for}}
      </select>
    </div>
  </div>
  <div class="form-group  form-inline">
    <label class="control-label col-xs-2">开户行
       <span class="required"> * </span>
    </label>
    <div class="col-xs-6">
      <input type="text" class="form-control wide-3" id="acount-subbank"  placeholder="请输入正确的开户支行（非必填）" value="{{:acountSubbank}}" {{:type}} " name="acountSubbank">
    </div>
  </div>
  <div class="form-group  form-inline">
    <label class="control-label col-xs-2">开户行号
    </label>
    <div class="col-xs-6">
      <input type="text" class="form-control wide-3" id="acount-bankno" placeholder="请输入正确的开户行号（非必填）" value="{{:acountBankno}}" {{:type}} >
    </div>
  </div>
  <div class="form-group  form-inline">
    <label class="control-label col-xs-2">银行账号
      <span class="required"> * </span>
    </label>
    <div class="col-xs-6">
      <input type="text" class="form-control wide-3" id="bankno" placeholder="请输入正确的银行账号" value="{{:bankNo}}" {{:type}} name="bankNo">
    </div>
  </div>

  {{if status == -1 || status == 2}}
  <div class="form-group  form-inline">
    <label class="control-label col-xs-2">确认账号
      <span class="required"> * </span>
    </label>
    <div class="col-xs-6">
      <input type="text" class="form-control wide-3" id="rebankno" placeholder="请再次输入银行账号确认" name="rebankno">
    </div>
  </div>
  {{/if}}

  {{if status !== -1}}
  <div class="form-group">
    <label class="control-label col-xs-2">审核状态</label>
    <div class="col-xs-6">
      <input type="text" class="form-control" value="{{:statusText}}" disabled>
    </div>
  </div>
  {{/if}}

  <div class="form-group">
    <label class="control-label col-xs-2"></label>
    <div class="col-xs-10">
      {{if status == -1 || status == 2}}
      <button type="submit" class="btn blue" id="saveBtn">保存</button>
      {{/if}}
      <button type="button" class="btn red" id="returnBtn"> 返回</button>
    </div>
  </div>
</form>