<div class="m-detail-wrap">
  {{if show}}
  <div class="m-d m-title">
    <div class="v-sub-title ">
      <div class="col-1">订单编号</div>
      <div class="col-2 font-red-thunderbird">{{:taskid}}</div>
      <div class="col-1">佣金</div>
      <div class="col-2 font-red-thunderbird">{{:buyerTaskMoney.serviceSum }}</div>
    </div>
  </div>
  {{/if}}

  <div class="m-d m-d-main">
    <div class="m-d-item col-1">
      <li class="v-m-title">
        <div class="col-1"><span class="icon-basket"></span>店铺名称：{{:shopName}}</div>
      </li>
      <li>
        <div class="col-1 v-img"><img src="
          {{if goodsMainImg}}
            {{:~root.imgPrefix}}{{:goodsMainImg}}
          {{else}}
            /img/norights.png
          {{/if}}" alt=""></div>
      </li>
    </div>
    <div class="m-d-item col-1">
      <li class="v-m-title">
        <div class="col-1"><span class="icon-drawer"></span>目标商品</div>
      </li>
      <li>
        <div class="col-1">搜索展示价格</div>
        <div class="col-2 font-red-thunderbird fn-right">
        {{if searchprice}}
          {{:searchprice}}元
        {{else}}
          xxx元（接单后显示）
        {{/if}}
        </div>
      </li>
      <li>
        <div class="col-1">商品成交价格</div>
        <div class="col-2 font-red-thunderbird fn-right">
        {{if goodsPrice}}
          {{:goodsPrice}}元
        {{else}}
          xxx元（接单后显示）
        {{/if}}
        </div>
      </li>
      <li>
        <div class="col-1">件数</div>
        <div class="col-2 font-red-thunderbird fn-right">
        {{if number}}
          {{:number}}件
        {{else}}
          xxx件（接单后显示）
        {{/if}}
        </div>
      </li>
    </div>
  </div>


  <div class="m-d m-d-main">
    <div class="m-d-item col-1">
      <li class="v-m-title">
        <div class="col-1"><span class="icon-layers"></span>任务要点</div>
      </li>
      <li>
        <div class="col-1">任务类型</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:tasktype}}</div>
      </li>
      <li>
        <div class="col-1">搜索关键字</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:keyword}}</div>
      </li>
      <li>
        <div class="col-1">规则尺码</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:colorSize}}</div>
      </li>
      <li>
        <div class="col-1">订单留言</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:orderwords}}</div>
      </li>
      <li>
        <div class="col-1">评论要求</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:taskkeyTypeStr}}</div>
      </li>
      <li>
        <div class="col-1">是否假聊</div>
        <div class="col-2 font-red-thunderbird fn-right">{{if chatNecessary}}是{{else}}否{{/if}}</div>
      </li>
      <li>
        <div class="col-1">关键词</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:keyword}}</div>
      </li>
      {{if (taskkeyType==2)}}
      <li>
        <div class="col-1">指定关键词</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:appoints}}</div>
      </li>
      {{/if}}
    </div>
    <div class="m-d-item col-1">
      <li class="v-m-title">
        <div class="col-1"><span class="icon-layers"></span>买家额外要求</div>
      </li>
      <li>
        <div class="col-1 font-red-thunderbird">{{:explain}}</div>
      </li>
    </div>
  </div> 
  {{if show}}
  <div class="m-d m-d-commit">
    <a href="#" class="btn btn-outline btn-sm red choose-task">接单</a>
    <a href="#" class="btn btn-outline btn-sm blue return">返回</a>
  </div>
  {{/if}}
</div>