<div class="m-detail-wrap">
  {{if show}}
  <div class="m-d m-title">
    <div class="v-sub-title ">
      <div class="col-1">订单编号</div>
      <div class="col-2 font-red-thunderbird">{{:taskid}}</div>
      <div class="col-1">佣金 / 垫付金额</div>
      <div class="col-2 font-red-thunderbird">{{:buyerTaskMoney.serviceSum }}元 / {{:buyerTaskMoney.goodsMoney }}元</div>
    </div>
  </div>
  {{/if}}

  {{if !show}}
  <div class="m-d m-d-main">
    <div class="m-d-item col-1">
      <li class="v-m-title">
        <div class="col-1"><span class="icon-basket"></span>店铺名称：{{:shopName}}</div>
      </li>
      <li>
        <div class="col-1 v-img"><img src="
          {{if goodsMainImg}}
            {{:~root.imgPrefix}}{{:goodsMainImg}}
          {{else}}
            /img/norights.png
          {{/if}}" alt=""></div>
      </li>
    </div>
    <div class="m-d-item col-1">
      <li class="v-m-title">
        <div class="col-1"><span class="icon-drawer"></span>目标商品</div>
      </li>
      <li>
        <div class="col-1">搜索展示价格</div>
        <div class="col-2 font-red-thunderbird fn-right">
        {{if searchprice}}
          {{:searchprice}}元
        {{else}}
          xxx元（接单后显示）
        {{/if}}
        </div>
      </li>
      <li>
        <div class="col-1">商品成交价格</div>
        <div class="col-2 font-red-thunderbird fn-right">
        {{if goodsPrice}}
          {{:goodsPrice}}元
        {{else}}
          xxx元（接单后显示）
        {{/if}}
        </div>
      </li>
      <li  class="group-{{:type}}">
        <div class="col-1">件数</div>
        <div class="col-2 font-red-thunderbird fn-right">
        {{if number}}
          {{:number}}件
        {{else}}
          xxx件（接单后显示）
        {{/if}}
        </div>
      </li>
    </div>
  </div>
  {{/if}}


  <div class="m-d m-d-main">
    <div class="m-d-item col-1">
      <li class="v-m-title">
        <div class="col-1"><span class="icon-layers"></span>任务要点</div>
      </li>
      <li>
        <div class="col-1">任务类型</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:tasktype}}</div>
      </li>
      <li>
        <div class="col-1">搜索关键字</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:keyword}}</div>
      </li>
      <li>
        <div class="col-1">规则尺码</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:colorSize}}</div>
      </li>
      <li>
        <div class="col-1">商品所在地</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:goodsposition}}</div>
      </li>
      <li>
        <div class="col-1">价格区间</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:lowprice}}-{{:highprice}}</div>
      </li>
      <li>
        <div class="col-1">商品现有销量约</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:salesVolume}}</div>
      </li>
      <li>
        <div class="col-1">定位目标商品排序方式</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:locationway}}</div>
      </li>
      <li>
        <div class="col-1">商品定位</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:~formatTaobaoPos(tbLocation)}}</div>
      </li>
      <li>
        <div class="col-1">订单留言</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:orderwords}}</div>
      </li>
      <li>
        <div class="col-1">任务要求</div>
        <div class="col-2 font-red-thunderbird fn-right">{{:~formatEvalReq(taskkeyType, type)}}</div>
      </li>
      <li class="group-{{:type}}">
        <div class="col-1">是否假聊</div>
        <div class="col-2 font-red-thunderbird fn-right">{{if chatNecessary}}是{{else}}否{{/if}}</div>
      </li>

    </div>
    <div class="m-d-item col-1">
      <li class="v-m-title">
        <div class="col-1"><span class="icon-layers"></span>买家额外要求</div>
      </li>
      <li>
        <div class="col-1 font-red-thunderbird">{{:explains}}</div>
      </li>
    </div>
  </div> 
  {{if show}}
  <div class="m-d m-d-commit">
    <a href="#" class="btn  btn-sm red choose-task">接单</a>
    <a href="#" class="btn  btn-sm blue return">返回</a>
  </div>
  {{/if}}
</div>