<div class="m-detail-wrap">
  {{if show}}
  <div class="m-d m-title">
    <div>
      <div class="col-1"><span class="icon-grid"></span> 订单详情</div>
    </div>
    <div class="v-sub-title ">
      <div class="col-1">订单编号</div>
      <div class="col-2 font-red-thunderbird">201805042328272263</div>
      <div class="col-1">佣金</div>
      <div class="col-2 font-red-thunderbird">10.00元</div>
    </div>
  </div>
  {{/if}}

  <div class="m-d m-d-goods">
    <div class="m-pic">
      <li class="v-m-title">
        <div class="col-1"><span class="icon-basket"></span>店铺名称：购*慢*店</div>
      </li>
      <li>
        <div class="col-1 v-img"><img src="/img/login.jpg" alt=""></div>
      </li>
    </div>
    <div class="m-addon">
      <li class="v-m-title">
        <div class="col-1"><span class="icon-drawer"></span>目标商品</div>
      </li>
      <li>
        <div class="col-1">搜索展示价格</div>
        <div class="col-2 font-red-thunderbird fn-right">59.50元</div>
      </li>
      <li>
        <div class="col-1">商品成交价格</div>
        <div class="col-2 font-red-thunderbird fn-right">50.50元</div>
      </li>
      <li>
        <div class="col-1">件数</div>
        <div class="col-2 font-red-thunderbird fn-right">1件</div>
      </li>
    </div>
  </div>


  <div class="m-d m-d-main">
    <div class="m-point">
      <li class="v-m-title">
        <div class="col-1"><span class="icon-layers"></span>任务要点</div>
      </li>
      <li>
        <div class="col-1">任务类型</div>
        <div class="col-2 font-red-thunderbird fn-right">手机淘宝任务</div>
      </li>
      <li>
        <div class="col-1">搜索关键字</div>
        <div class="col-2 font-red-thunderbird fn-right">化妆品</div>
      </li>
      <li>
        <div class="col-1">规则尺码</div>
        <div class="col-2 font-red-thunderbird fn-right">水乳精华三套件</div>
      </li>
      <li>
        <div class="col-1">订单留言</div>
        <div class="col-2 font-red-thunderbird fn-right">无</div>
      </li>
      <li>
        <div class="col-1">评论要求</div>
        <div class="col-2 font-red-thunderbird fn-right">普通好评任务</div>
      </li>
      <li>
        <div class="col-1">是否假聊</div>
        <div class="col-2 font-red-thunderbird fn-right">否</div>
      </li>
    </div>
    <div class="m-addon">
      <li class="v-m-title">
        <div class="col-1"><span class="icon-layers"></span>买家额外要求</div>
      </li>
      <li>
        <div class="col-1 font-red-thunderbird">以往有购买过的，请在已购买的商品中进入下单，请核对正常店铺名称。</div>
      </li>
    </div>
  </div> 
  {{if show}}
  <div class="m-d m-d-commit">
    <a href="#" class="btn btn-outline btn-sm red choose-task">接单</a>
    <a href="#" class="btn btn-outline btn-sm blue return">返回</a>
  </div>
  {{/if}}
</div>