<table class="table table-hover table-light">
  <thead>
    <tr class="uppercase">
      <th> 序号 </th>
      <th> 任务状态 </th>
      <th> 任务编号 </th>
      <th> 发布时间 </th>
      <th> 平台 </th>
      <th> 类型 </th>
      <th>  </th>
      <th> 完成限时 </th>
      <th> 佣金 </th>
      <th> 功能 </th>
    </tr>
  </thead>
  <tbody>
    {{for data}}
    <tr>
      <td> {{:#index+1}} </td>
      <td class="z-status{{:status}}">  {{:~formatOrderStatus(status)}}</td>
      <td> {{:taskId}} </td>
      <td>{{:~formatTime(publishTime)}}</td>
      <td> {{:platform}}</td>
      <td> {{:taskType}}</td>
      <td>   </td>
      <td> {{:finidshTime}} </td>
      <td> {{:reward}}元</td>
      <td >
        <a href="#basic" class="btn green-seagreen btn-xs btn-outline detail-task"  data-id="{{:id}}" data-tid="{{:taskkeyId}}"><i class="fa fa-info"></i> 详情 </a>
        {{if (status == 0)}}
        <a href="#basic" class="btn blue-madison btn-xs btn-outline cancel-task "  data-id="{{:id}}" ><i class="fa fa-reply"></i> 退单 </a>
        {{/if}}
        {{if (status == 0)}}
        <a href="#basic" class="btn red btn-xs btn-outline commit-task"  data-id="{{:id}}" data-tid="{{:taskkeyId}}"><i class="fa fa-edit"></i> 提交购买信息 </a>
        {{/if}}
        {{if (status == 20)}}
        <a href="#basic" class="btn yellow-gold btn-xs btn-outline evaluate-task"  data-id="{{:id}}" data-tid="{{:taskkeyId}}"><i class="fa fa-commenting-o"></i> 评价 </a>
        {{/if}}
        
      </td>
    </tr>
    {{/for}}
  </tbody>
</table>