<table class="table table-hover">
  <thead>
    <tr>
      <th> # </th>
      <th style="width: 25%"> 时间 </th>
      <th style="width: 25%"> 收款额（元） </th>
      <th style="width: 25%"> 余额（元） </th>
      <th style="width: 25%"> 内容 </th>
    </tr>
  </thead>
  <tbody>
    {{for data}}
    <tr>
      <td> {{:#index}} </td>
      <td> {{:~formatTime(createtime)}} </td>
      <td class="font-red"> {{:money}} </td>
      <td class="font-red"> 
        {{if (~root.type === 1)}}
          {{:balance}} 
        {{else (~root.type=== 2)}}
          {{:servicefee}}
        {{else (~root.type===6)}}
          {{:spread}}
        {{/if}}
      </td>
      <td> {{:description}} {{if taskId}}[任务ID: {{:taskId}}]{{/if}}</td>
    </tr>
    {{/for}}
  </tbody>
</table>