<div class="m-row">
    <div class="m-col m-col-1">任务编号</div>
    <div class="m-col m-col-2">{{:taskkeyid}}</div>
</div>
<div class="m-row">
    <div class="m-col m-col-1">任务类型</div>
    <div class="m-col m-col-2">{{:tasktype}}</div>
</div>
<div class="m-row">
    <div class="m-col m-col-1">掌柜名称</div>
    <div class="m-col m-col-2">{{:shopId}}</div>
</div>
<div class="m-row">
    <div class="m-col m-col-1">店铺名称</div>
    <div class="m-col m-col-2">{{:shopName}}</div>
</div>
<div class="m-row">
    <div class="m-col m-col-1">商品名称</div>
    <div class="m-col m-col-2">{{:goodsName}}</div>
</div>
<div class="m-row">
    <div class="m-col m-col-1">尺寸型号</div>
    <div class="m-col m-col-2">{{:colorSize}}</div>
</div>
<div class="m-row">
    <div class="m-col m-col-1">搜索价格</div>
    <div class="m-col m-col-2">{{:searchprice}}</div>
</div>
<div class="m-row">
    <div class="m-col m-col-1">实际价格</div>
    <div class="m-col m-col-2">{{:goodsPrice}}</div>
</div>
<div class="m-row">
    <div class="m-col m-col-1">搜索关键词</div>
    <div class="m-col m-col-2">{{:keyword}}</div>
</div>
<div class="m-row">
    <div class="m-col m-col-1">目前成交量</div>
    <div class="m-col m-col-2">{{:number}}</div>
</div>
{{if (taskkeyType==2)}}
<div class="m-row">
    <div class="m-col m-col-1">指定关键词</div>
    <div class="m-col m-col-2">{{:appoints}}</div>
</div>
{{/if}}
<div class="m-row">
    <div class="m-col m-col-1">商品图片</div>
</div>
<div class="m-row">
    <div class="m-col m-col-2"><img src="{{:imgPrefix}}/{{:goodsMainImg}}" alt=""></div>
</div>