<div class="col-md-12"><p class="m-img-title">{{:type}}</p></div>
<div class="col-md-12">
  

    <div class="fileinput fileinput-new" data-provides="fileinput">
      <div class="fileinput-preview  thumbnail" style="max-width: 120px; max-height: 90px; line-height: 10px;">
        <img src="/img/noimg.png">
      </div>
      <div class="fileinput-ctrl">
          <span class="btn red btn-xs btn-file">
            <i class="fa fa-upload"></i>
            <span>  选择图片</span>
            <input type="file" accept=".png,.jpg,.jpeg,image/png,image/jpg,image/jpeg" id="{{:pid}}">
          </span>
      </div>
    </div>

</div>
