<form action="#" id="form-withdraw" class="form-horizontal form-bordered">
  <div class="form-group">
    <label class="control-label col-xs-2">ID</label>
    <div class="col-xs-6">
      <input type="number" class="form-control" id="buyer-id" value="{{:id}}" disabled name="buyerId">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-2">姓名</label>
    <div class="col-xs-6">
      <input type="text" class="form-control" id="buyer-name" value="{{:name}}" disabled name="name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-2">银行账户</label>
    <div class="col-xs-6">
      <input type="number" class="form-control" id="bankno" value="{{:bankNo}}" disabled name="bankNo">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-2">扣取手续费账户</label>
    <div class="col-xs-6 form-inline">
      <select class="form-control " id="from-poundage" name="poundageAccount">
        <option value="">请选择</option>
        <option value="本金账户" selected>本金账户</option>
        <option value="佣金账户" >佣金账户</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-2">本金提现</label>
    <div class="col-xs-6">
      <input type="number" class="form-control withdraw" id="cap-withdraw" name="capWithdraw">
    </div>
    <div class="col-xs-4 form-info">(本金余额 <span class="font-red">{{:capBalance}}</span> 元)</div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-2">佣金提现</label>
    <div class="col-xs-6">
      <input type="number" class="form-control withdraw" id="com-withdraw" name="comWithdraw">
    </div>
    <div class="col-xs-4 form-info">(佣金余额 <span class="font-red">{{:comBalance}}</span> 金)</div>
  </div>
  <div class="form-group">
    <div class="col-xs-2"></div>
    <div class="col-xs-2">
      <label class="control-label" >提现总金额:  <span class="font-red" id="amount">0.00</span> 元</label>
    </div>
    <div class="col-xs-2">
      <label class="control-label">提现手续费: <span class="font-red" id="poundage">0.00</span> 元</label>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-xs-2"></label>
    <div class="col-xs-10">
      <button type="submit" class="btn blue" id="saveBtn">确认</button>
    </div>
  </div>
</form>