body {
    font-family: Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    font-size: 14px;
    color: #8896a0;
    margin:0;
}

ul {
  margin:0;
  padding: 0;
}

li {
  list-style: none;
}


a {
    color: #006699;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.c-light {
  color: #e5f2e9;
}

.c-dark {
  color: #4ca391;
}

.b-light {
  background: #e5f2e9;
}

.b-dark {
  background: #4ca391;
}

.b-blue {
  background: #5d54e9;
}


.font-red {
  color: #D91E18;
}

.font-blue {
  color: #5d54e9;
}

.font-big {
  font-size: 16px;
  font-weight: 600;
}

.font-sbig {
  font-size: 32px;
  font-weight: 600;

}

.fn-money {
  margin: 0 5px;
}


.hide {
  display: none;  
}

.hides {
  visibility: hidden;
}

.fn-right {
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 500px
}

.fn-center {
    text-align: center;
}
.form-group img {
  border: 1px solid #ddd;
}

.z-status0 {
  font-weight: 600;
  color: #E7505A;
}

.z-status10 {
  font-weight: 600;
  color: #1BA39C;
}

.z-status20 {
  font-weight: 600;
  color: #4B77BE;
}

.z-status30 {
  font-weight: 600;
  color: #D91E18;
}

.z-status40 {
  font-weight: 600;
  color: #E87E04;
}

.z-status50 {
  font-weight: 600;
  color: #8E44AD;
}

.z-status60 {
  font-weight: 600;
  color: #525E64;
}

.z-status70 {
  font-weight: 600;
  color: #95A5A6;
}

.z-status80 {
  font-weight: 600;
  color: #67809F;
}


.page-bar {
  display: fixed;
    background-color: #4B77BE;
    color: #fff!important;
}

.page-bar span {
    color: #fff!important;
}


.form-imp {
    position: relative;
    text-align: right;
}

.form-imp:before {
    content: "\5fc5\586b";
    display: inline-block;
    margin-right: 5px;
    color: #fff;
    padding: 2px 5px;
    font-size: 12px;
    background: #E43A45;
}



.group-browse {
    display: none!important;
}



.m-cost-wrap {
    
}

.m-cost-row {
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eee;
}

.m-cost-title {
  background: #4B77BE;
  color: #fff;
  font-size: 24px;
}


.m-cost-row>span {
    flex: 1;
}


.u-cost {
    flex: 2!important;
}

