header {
  padding: 10px;
  background: #fff;
}

header .m-title {
  font-size: 24px;
  text-align: center;
}

header .u-item {
  margin: 5px 10px;
  color: #666;
  font-weight: 600;
}

section {
  padding: 10px 25px;
  background: #fff;
}

section .m-title {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin: 10px;
}

section .m-cnt {
  color: #666;
  margin: 5px;
}

section .m-info {
  color: #ff3300;
}

section .u-item {
  color: #666;
  margin: 5px;
}


section .u-item .u-item-s {
  margin: 0px 5px 0px 15px ;
}


section .u-item .u-item-title {
  color: #4B77BE;
}

section .u-item>div {
    padding: 5px;
}