body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top {
    background: #f5f5f5;
    border-bottom: #e5e5e5;
    min-width: 1050px;
}

.top>ul {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    font-size: 12px;
}

.top>ul>li {
    padding: 0 10px;
    border-right:1px solid #ccc;
}

.top>ul>li:last-child {
    border-right:none;
}


.bar {
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 155px;
    min-width: 1050px;
}

.bar .logo {
    width: 200px;
    height: 100%;
    background: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 600 36px/1.5 "microsoft yahei";
    color: #fff;
}

.bar .search {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.bar .search input {
    display: inline-block;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 3px solid #E87E04;
    padding: 0 100px 0 18px;
    outline: none;
}

.search_img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    width: 120px;
    background: #E87E04;
    cursor: pointer;
}

footer>div {
    margin: 10px;
}

footer>.help {
    flex:1;
}

footer>.qr>img {
    width: 100px;
}

footer>.info>ul {
    display: flex;
    flex-direction: row;
}

footer>.info>ul>li {
    margin-right:10px;
}


nav {
    background: #E87E04;
    color: #fff;
    font-weight: 600;
    min-width: 1050px;
}

nav>ul {
    display: flex;
    flex-direction: row;
}

nav>ul>li {
    padding: 10px;
    text-align: center;
    flex:1;
}

nav>ul>li:first-child {
    background: #E87E04;
    min-width: 200px;
}

nav>ul>li:last-child {
    background: #53221b;
    min-width: 200px;
}


section {
    background: #eee;
    flex:1;
}

section.login>.login-cnt,
section.register>.register-ctn,
section.regs>.regs-cnt {
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
}

section.forget>.forget-cnt {
    width: 500px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
}

.forget-cnt li {
    margin: 5px 0;
    display: flex;
    flex-direction: row
}

.forget-cnt li a {
   width: 150px;
   margin-left: 10px;
}

section.regs {
    background: #fff;
}

section.regs>.regs-cnt {
    width: 800px;
    /*border: 1px solid #aaa;*/
    margin: 40px auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
}


.login-logo {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.login-logo>img {
    width: 100%;
    flex: 1;
}

.login-main {
    background: #fff;
    flex:1;
}

.login-hd {
    display: flex;
    flex-direction: row;
}

.login-hd>li {
    padding: 10px;
    flex:1;
    text-align: center;
    background: #E87E04;
    color: #fff;
    cursor: pointer;
}

.login-hd>li.on {
    background: #fff;
    color: #E87E04;
}

.form-cnt {
    margin: 0 auto;
    width: 80%;
    padding: 20px 0 20px;
}

.login-title {
    display: block;
    font-size: 15px;
    padding: 0 0 10px;
}

.input-group {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.input-group>* {
    flex:2;
}

.input-group .err {
    color:#ff6600;
}

.input-group p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group div span{
    display: inline-block;
    height: 100%;
    
}

.input-group>i {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 20px;
    font-size: 20px;
    color: #aaa;
}

.input-group p {
    padding-left: 10px;
}

.login-input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid #ccc;
    padding: 0 10px 0 45px;
    box-sizing: border-box;
    line-height: 40px;
}

.login-vertify {
    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    line-height: 30px;
    box-sizing: border-box;
    width: 120px;
    margin-right: 10px;
}

.login .tip-register {
    text-align: center;
    font-size: 14px;
    color: #aaa;
    margin-top: 10px;
}

.login .tip-register>a {
    color: cornflowerblue;
    cursor: pointer;
}

footer {
    background: #53221b;
    padding: 10px;
    display: flex;
    color: #fff;
    align-items: flex-end;
    min-height: 120px;
}



ul>li>span {
    display: inline-block;
    border-right: 1px solid #eee;
    padding-right: 10px;
}

.ctt>li {
    margin-bottom: 10px;

}

.register-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}

.register-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 480px;
    background-color: #f5f5f5;
}

.register-box:nth-child(1) {
    margin-right: 80px;
}

.register-box>img {
    padding-top: 20px;
}

.register-box>h1 {
    border-bottom: 1px solid #f5f5f5;
    margin: 0 0 30px 0;
}

.register-box>h1>span {
    display: inline-block;
    padding: 30px 10px 5px;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    border-bottom: 3px solid #E87E04;
}

.register-box:nth-child(2)>h1>span {
    border-bottom: 3px solid #5d54e9;
}

.register-box>p {
    font-size: 15px;
    line-height: 25px;
    color: #53221b;
    margin: 0;
    padding-top: 10px;
}

.register-box>p>span {
    cursor: pointer;
}

.register-box>button {
    width: 310px;
    margin: 30px 0 10px 0;
    border-radius: 30px;
}

.action-login,.action-reg {
    cursor: pointer;
}


.md-btn {
    height: 40px;
    color: #fff;
}

.code {
    flex:1;
}

button {
    width: 100%;
    border-radius: 4px;
    border: none;
    outline: none;
    background: #E87E04;
    cursor: pointer;
    padding: 0;
    color: #fff;
    font-size: 16px;
}

button.code {
    margin:5px;
}

.agreement {
    margin-bottom: 10px;
}

.agreement label span {
    color: #6495ED;
}

button:disabled { 
    background-color: #dddddd;
}

.logo {
    width: 300px;
}

.bar .logo img {
    width: 100%;
}

.u-vc {
    display: flex;
    align-items: center;
}

.u-hc {
    display: flex;
    justify-content: center;
}
