.g-detail {
    position: absolute;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    z-index: 2000;
    background: rgba(0,0,0,.5);
}

.m-detail-wrap {
    position: relative;
    margin: 20px auto;
    background: #fff;
    width: 800px;
    display: flex;
    flex-direction: column;
    box-shadow:1px 1px 5px #ccc;
}

.m-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 9999;
    background-image: url(/img/close.png);
}

.u-step {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.u-step>div {
    padding: 5px 20px 5px 40px;
}

.u-step-title {
    background: #4B77BE;
    color: #fff;
}

.u-step-info {
    display: flex;
    flex-direction: row;
}

.u-step-info img {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid #aaa;
}

.u-sp {
    flex: 1;
}

.u-func {
    display: block;
    width: 340px;
}

.u-func a {
    display: inline-block;
    width: 100px;
    margin: 5px;
}

tr {
    display: flex;
}

td {
    display: flex;
    flex-direction: column;
}

td>span {
    margin: 5px 0 0 0;
}

.m-appeal,.m-proc {
    flex: 1;
}

.m-appeal {
    min-width: 320px;
}

.m-proc {
    min-width: 240px;
}

.m-img {
    display: flex;
    flex-direction: row;
    min-width: 360px;
}

.m-img a {
    margin: 3px;
    outline: 1px solid #ccc;
    height: 60px;
    box-sizing: content-box;
}