<form action="#" id="form-bind" class="form-horizontal form-bordered">

  <div class="form-group">
    <label class="control-label col-xs-2">{{:platform}}账号</label>
    <div class="col-xs-6">
      <input type="text" class="form-control" id="acount-name" placeholder="请输入{{:platform}}账号" value="{{:acount}}" {{:type}}>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-2">{{:platform}}账号等级</label>
    <div class="col-xs-6">
      <input type="text" class="form-control" id="acount-level" placeholder="请输入{{:type}}账号等级" value="{{:acountLevel}}" {{:type}}>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-xs-2">是否开通{{:creditType}}</label>
    <div class="col-xs-6 form-inline">
      <div class="mt-radio-inline">
        <label class="mt-radio">
          <input type="radio" name="r-baitiao-start" value="1" {{:baitiaoStart}} {{:type}}>是<span></span>
        </label>
        <label class="mt-radio">
          <input type="radio" name="r-baitiao-start" value="0" {{:baitiaoUnStart}} {{:type}}>否<span></span>
        </label>
      </div>
    </div>
  </div>



  <div class="form-group">
    <label class="control-label col-xs-2">收货人</label>
    <div class="col-xs-6">
      <input type="text" class="form-control" id="receiver" placeholder="请输入正确的收货人姓名" value="{{:receiver}}" {{:type}}>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-2">手机号</label>
    <div class="col-xs-6">
      <input type="text" class="form-control" id="receive-mobile" placeholder="请输入正确的收货人手机号" value="{{:receiveMobile}}" {{:type}}>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-2">收货人省份</label>
    <div class="col-xs-6">
      <input type="text" class="form-control" id="receive-province" placeholder="请输入正确的收货人手机号" value="{{:receiveProvince}}" {{:type}}>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-2">详细地址</label>
    <div class="col-xs-6">
      <input type="text" class="form-control" id="receive-address" placeholder="请输入正确的收货人手机号" value="{{:receiveAddress}}" {{:type}}>
    </div>
  </div>

  {{if isbind}}
  <div class="form-group">
    <label class="control-label col-xs-2"></label>
    <div class="col-xs-10 id-card-box">
      {{for img}}
      {{if #data}}
      <img src="http://localhost:8011/file/{{:#data}}" style="width: 200px; height: 150px;">
      {{/if}}
      {{/for}}
    </div>
  </div>
  {{else}}
  <div class="form-group">
      <label class="control-label col-xs-2">请选择图片</label>
      <div class="col-xs-10 id-card-box">
        <div class="row img-task img-task-list">
          {{for list}}
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-new thumbnail" style="max-width: 150px; max-height: 120px;">
                <img src="img/noimg.png">
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
            
            <div>
                <span class="btn default btn-file">
                <span class="fileinput-new"> 选择图片 </span>
                <span class="fileinput-exists"> 更换 </span>
                  <input type="hidden"><input type="file" accept=".png,.jpg,.jpeg,image/png,image/jpg,image/jpeg" id="platform-ipt{{:#index+1}}">
                </span>
                <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> 删除 </a>
            </div>
          
        </div>
        {{/for}}  
      </div>
    </div>
  </div>
  {{/if}}

  <div class="form-group">
    <label class="control-label col-xs-2"></label>
    <div class="col-xs-10">
      {{if !isband}}
      <button type="button" class="btn blue" id="saveBtn">保存</button>
      {{/if}}
      <button type="button" class="btn red" id="returnBtn"> 返回</button>
    </div>
  </div>
</form>