<div class="task-wrap-item">
    <div class="row img-task img-task-title">
        <div class="col-xs-2 fn-right"> 上传第{{:data}}单的图片</div>
        <div class="col-xs-10">{{if show}}<a class="btn red btn-outline btn-xs task-del">删除图片好评任务</a>{{/if}}</div>
    </div>
    <div class="row img-task">
        <div class="col-xs-2 form-imp"> 搜索关键词</div>
        <div class="col-xs-10">
            <input type="text" id="{{:type}}-ipt-key{{:data}}"> 添加 <input type="text" class="wide-s1" id="{{:type}}-ipt-count{{:data}}"> 单 放单时间从 <input type="text" class="timepicker timepicker-24" id="{{:type}}-ipt-time-from{{:data}}"> 到 <input type="text"
                class="timepicker timepicker-24" id="{{:type}}-ipt-time-to{{:data}}">
        </div>
    </div>
    <div class="row img-task img-task-list">
        <div class="col-xs-2 form-imp"> 请选择图片</div>
        <div class="col-xs-10">
            {{for list}}
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="max-width: 150px; max-height: 120px;">
                    <img src="img/noimg.png">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                <div>
                    <span class="btn default btn-file">
              <span class="fileinput-new"> 选择图片 </span>
                    <span class="fileinput-exists"> 更换 </span>
                    <input type="hidden"><input type="file" accept=".png,.jpg,.jpeg,image/png,image/jpg,image/jpeg" id="{{:~root.type}}-upload{{:~root.data}}-{{:#index+1}}">
                    </span>
                    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> 删除 </a>
                </div>
            </div>
            {{/for}}
        </div>
    </div>

    <div class="row  img-task-desc">
        <div class="col-xs-2 fn-right"> 评价描述</div>
        <div class="col-xs-10"><textarea id="{{:type}}-ipt-desc{{:data}}"></textarea></div>
    </div>
</div>