<table class="table table-hover table-light">
    <thead>
        <tr class="uppercase">
            <th> # </th>
            <th> 店铺名称 </th>
            <th> 平台 </th>
            <th> 店铺类型 </th>
            <th> 所属地区 </th>
            <th> 地址链接 </th>
            <th class="fn-center"> 功能 </th>
        </tr>
    </thead>
    <tbody>
      {{for data}}
        <tr>
            <td> {{:#index+1}} </td>
            <td> {{:name}}</td>
            <td> {{:type}} </td>
            <td> {{:businesstype}} - {{:subtype}}</td>
            <td> {{:addressProvince}}{{:addressCity}}{{:addressCounty}} </td>
            <td> {{:address}} </td>
            <td class="fn-center"> 
              <a href="#basic" class="btn blue-madison btn-sm btn-outline sbold uppercase  edit-shop"  data-toggle="modal" data-index="{{:#index}}" data-id="{{:id}}"><i class="fa fa-edit"></i> 修改 </a> 
              <a href="javascript:;" class="btn red btn-sm btn-outline sbold uppercase del-shop" id="{{:id}} " ><i class="fa fa-times"></i> 删除 </a> 
            </td>
        </tr>
      {{/for}}
    </tbody>
  </table>