.id-card-box .row {
  margin-left: 0;
}

#form-bind .mt-radio {
  margin-bottom: 0;
}

.id-card-box {
  display: flex;
  /* justify-content: flex-start; */
}

.id-card-box img {
  width: 160px;
  height: 120px;
}

.img-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  margin-right: 10px;
}

.img-info-box>span {
  margin: 2px 0 2px 0;
  color: #8896a0;
}

.thumbnail {
  width: 150px;
  height: 130px;
}

.thumbnail img {
  width: 150px;
  height: 130px;
  line-height: 10px;
}

.form-group .wide-3 {
  width: 400px;
}