body {
    min-width: 1000px;
}

.form-group button {
  width: 120px;
  margin-right: 10px;
}

.form-info {
  padding-top: 7px;
  color:#aaa;
}

.id-card-box .row {
  margin-left: 0;
}

#bind-info .col-xs-6 {
  padding-top: 7px;
}

.id-card-box {
  display: flex;
  /* justify-content: flex-start; */
}

.id-card-box img {
  width: 160px;
  height: 120px;
}

.img-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  margin-right: 10px;
}

.img-info-box>span {
  margin: 2px 0 2px 0;
  color: #8896a0;
}

.thumbnail {
  max-width: 160px;
  max-height: 120px;
}

.thumbnail img {
  max-width: 160px;
  max-height: 120px;
  line-height: 10px;
}
.form-group .wide-3 {
  width: 400px;
}