body {
    min-width: 800px;
}

.u-wrap {
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 5px;
}

.u-row {
    display: flex;
    flex-direction: row;
    padding: 5px;
    position: relative;
}

.u-row span {
    margin-right: 5px;
}


.u-sp {
    flex:1;
}

.u-type {
    flex-basis: 50px;
}

.u-id {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: 0px;
    left: 0;
}