<form action="#" class="form-bordered form-search">
  <div class="form-group">
    <label class="control-label">收款账号</label>
    <input type="text" class="form-control" id="bank">
  </div>
  <div class="form-group">
    <label class="control-label">审核状态</label>
    <select class="form-control" id="">
      <option value="全部">全部</option>
      <option value="0">未审核</option>
      <option value="1">审核通过</option>
      <option value="2">审核未通过</option>
      <option value="3">已打款</option>
    </select>
  </div>
  <div class="form-group">
    <label class="control-label">提现日期</label>
    <div class="input-group date date-picker" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
      <input type="text" class="form-control" id="start-date">
      <span class="input-group-btn">
        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
      </span>
    </div>
    <span>&nbsp;- -&nbsp;</span>
    <div class="input-group date date-picker" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
      <input type="text" class="form-control" id="start-date">
      <span class="input-group-btn">
        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
      </span>
    </div>
  </div>
  <div class="form-group">
    <button type="button" class="btn red" id="returnBtn">查询</button>
  </div>
</form>