<div class="task-wrap-item">
  <div class="{{:type}} {{:type}}-title">
    <span class="form-imp"> 搜索关键词</span>
    <input type="text" id="{{:type}}-ipt-key{{:data}}" class="u-task-key">
      添加 <input type="number" class="wide-s1 task-count u-task-count" id="{{:type}}-ipt-count{{:data}}"> 单   
      放单时间从 <input type="text" class="timepicker timepicker-24" id="{{:type}}-ipt-time-from{{:data}}">
      到 <input type="text" class="timepicker timepicker-24" id="{{:type}}-ipt-time-to{{:data}}">
      {{if show}}<a class="btn red btn-outline btn-xs task-del">删除</a>{{/if}}
  </div>
  {{if word}}
  <div class="{{:type}}">
    <span class="form-imp"> 指定文字</span>
    <input type="text" id="{{:type}}-ipt-word{{:data}}" class="wide-3 u-task-keyword" placeholder="注意！不能超过50个字！"> 
  </div>
  {{/if}}
</div>