<div class="task-wrap-item task-wrap-item-{{:count}}">
  <div class="row img-task-title">
      <div class="col-xs-2 fn-right task-index"> 第 {{:count}} 单任务</div>
      <div class="col-xs-10"><a class="btn red btn-xs task-del">删除任务</a></div>
  </div>
  <div class="row nor-task">
    <div class="col-xs-2 form-imp"> 
      {{if nor}}
      普通好评任务 <span class="task-type hide">1</span>
      {{else key}}
      关键字好评任务<span class="task-type hide">2</span>
      {{else img}}
      图片好评任务<span class="task-type hide">3</span>
      {{else word}}
      指定文字好评任务<span class="task-type hide">4</span>
      {{/if}}
    </div>
    <div class="col-xs-10">
        <span> 搜索关键词</span>
        <input type="text" id="ipt-key{{:count}}" class="u-task-key"> 添加 <input type="text" class="wide-s1 task-count  u-task-count" id="ipt-count{{:count}}" value="{{if img||word}}1{{/if}}" {{if img||word}}disabled{{/if}}> 单 放单时间从 
        <div class="form-group form-time"><input type="text" class="timepicker timepicker-24 timepicker-from" id="ipt-time-from{{:count}}"></div> 到 
        <div class="form-group form-time"><input type="text"
            class="timepicker timepicker-24 timepicker-to" id="ipt-time-to{{:count}}"></div>
    </div>
  </div>

  {{if key}}
  <div class="row key-task">
    <div class="col-xs-2 form-imp"> </div>
    <div class="col-xs-10">
      <span> 设置指定关键词：建议至少设3个关键字，最多可设置5个</span>
      <input type="text" class="wide-s2 ipt-keyword ipt-keyword1-{{:count}}" >
      <input type="text" class="wide-s2 ipt-keyword ipt-keyword2-{{:count}}">
      <input type="text" class="wide-s2 ipt-keyword ipt-keyword3-{{:count}}" >
      <input type="text" class="wide-s2 ipt-keyword ipt-keyword4-{{:count}}" >
      <input type="text" class="wide-s2 ipt-keyword ipt-keyword5-{{:count}}" >
    </div>
  </div>
  {{/if}}

  {{if img}}
  <div class="row img-task img-task-list">
    <div class="col-xs-2 form-imp"> </div>
    <div class="col-xs-10">
      {{for list}}
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-preview  thumbnail" style="max-width: 150px; max-height: 120px; line-height: 10px;">
          <img src="/img/noimg.png">
        </div>
        <div class="fileinput-ctrl">
            <span class="btn red btn-xs btn-file">
              <i class="fa fa-upload"></i>
              <span>  选择图片</span>
              <input type="file"  class="ipt-img" accept=".png,.jpg,.jpeg,image/png,image/jpg,image/jpeg" id="upload">
            </span>
        </div>
      </div>
      {{/for}}
    </div>
  </div>
  <div class="row img-task img-task-list">
    <div class="col-xs-2 fn-right"> 图片评价描述</div>
    <div class="col-xs-10">
        <span> 指定文字</span>
        <input type="text" id="ipt-word{{:count}}" class="wide-3 u-task-keyword" placeholder="注意！不能超过255个字！" maxlength="255"> 
    </div>
  </div>
  {{/if}}

  {{if word}}
  <div class="row key-task">
    <div class="col-xs-2 form-imp"> </div>
    <div class="col-xs-10">
        <span> 指定文字</span>
        <input type="text" id="ipt-word{{:count}}" class="wide-3 u-task-keyword" placeholder="注意！不能超过255个字！" maxlength="255"> 
    </div>
  </div>
  {{/if}}

</div>