<table class="table table-hover table-light">
    <thead>
        <tr class="uppercase">
            <th>  </th>
            <th> 序号 </th>
            <th> 平台 </th>
            <th> 店铺 </th>
            <th> 订单ID </th>
            <th> 订单发布时间 </th>
            <th> 接单时间 </th>
            <th> 买家ID </th>
            <th> 订单状态 </th>
            <th> 淘宝京东单号 </th>
            <th> 任务金额 </th>
            <th> 佣金 </th>
            <th> 买家垫付 </th>
            <th> 商品名称 </th>
            <th> 搜索关键字 </th>
            <th> 发货类型 </th>
            <th> 快递单号 </th>
            <th> 快递状态 </th>
            <th> 操作 </th>
        </tr>
    </thead>
    <tbody>
      {{for data}}
        <tr>
            <td> <input type="checkbox" name="tid" value="{{:id}}"> </td>
            <td> {{:#index+1 + ~root.pageSize*~root.pageIndex}} </td>
            <td> {{:shopType}} </td>
            <td> {{:shopName}} </td>
            <td> {{:id}} </td>
            <td> {{:~formatTime(createtime)}} </td>
            <td> {{:~formatTime(createtime)}} </td>
            <td> {{:buyerId}} </td>
            <td class="z-status{{:status}}">
               {{if   (status== 0)}} 待处理
               {{else (status==10)}} 待发货
               {{else (status==20)}} 待评价
               {{else (status==30)}} 评价待审核
               {{else (status==40)}} 待确认返款
               {{else (status==50)}} 刷手撤销
               {{else (status==60)}} 系统撤销
               {{else (status==70)}} 已完成 
               {{/if}} 
            </td>
            <td> {{:orderid}} </td>
            <td> {{:sumMoney}} </td>
            <td> {{:serviceSum}} </td>
            <td> {{:goodsSum}} </td>
            <td> {{:goodsname}} </td>
            <td> {{:keyword}} </td>
            <td> 空包 </td>    
            <td> {{:expressNo}} </td>
            <td> {{:expressStatus}}  </td>        
            <td>
              
            </td>
        </tr>
      {{/for}}
    </tbody>
  </table>