<table class="table table-hover table-light">
    <thead>
        <tr class="uppercase">
            <th> # </th>
            <th> 商家ID</th>
            <th> 注册时间 </th>
            <th> VIP情况 </th>
            <th> 账户余额情况 </th>
            <th> 推广人数情况 </th>
            <th> 信誉情况 </th>
        </tr>
    </thead>
    <tbody>
      {{for data}}
        <tr>
            <td> {{:#index+1}} </td>
            <td> {{:id}}</td>
            <td> {{:~formatTime(regtime)}} </td>
            <th> {{:memberValid}}</th>
            <th> {{:}}</th>
            <th> {{:}}</th>
            <th> </th>
            <td>
              
              <a href="javascript:;" class="btn red-mint btn-xs btn-setvip" data-id="{{:id}} " ><i class="fa fa-edit"></i> 设置VIP </a> 
              <a href="javascript:;" class="btn red-mint btn-xs btn-setvip" data-id="{{:id}} " ><i class="fa fa-edit"></i> 详细数据 </a> 
              
            </td>
        </tr>
      {{/for}}
    </tbody>
  </table>