<table class="table table-hover table-light">
    <thead>
        <tr class="uppercase">
            <th> 序号 </th>
            <th> 时间 </th>
            <th> 收支 </th>
            <th> 金额 </th>
            <th> 余额 </th>
            <th> 内容 </th>
            <th> 详细 </th>
        </tr>
    </thead>
    <tbody>
      {{for data}}
        <tr>
            <td> {{:#index+1 + ~root.pageSize*~root.pageIndex}} </td>
            <td> {{:~formatTime(createtime)}}</td>
            <td> {{:taskId}} </td>
            <td> {{:money}}</td>
            <td> {{:balance}}</td>
            <td> {{:cnt}}</td>
            <td> {{:desc}}</td>
        </tr>
      {{/for}}
    </tbody>
</table>
