<table class="table table-hover table-light">
    <thead>
        <tr class="uppercase">
            <th> # </th>
            <th> 电商平台 </th>
            <th> 店铺名称 </th>
            <th> 店铺地址 </th>
            <th> 手机 </th>
            <th> 店铺类型 </th>
            <th> 发货地址 </th>
            <th> 店铺状态 </th>
            <th> 审核意见 </th>
            <th> 功能 </th>
        </tr>
    </thead>
    <tbody>
      {{for data}}
        <tr>
            <td> {{:#index+1}} </td>
            <td> {{:type}} </td>
            <td> {{:name}}</td>
            <td> <a href="{{:shopurl}}" target="_blank">{{:shopurl}}</a> </td>
            <td> {{:mobile}}</td>
            <td> {{:businesstype}} - {{:subtype}}</td>
            <td class="word-break"> {{:address}} </td>
            <td class="pass{{:approveState}}"> {{:approveStr}} </td>
            <td>  </td>
            <td>
              {{if approveState==1 || approveState==2 }}
              <a href="javascript:;" class="btn red-sunglo btn-xs sbold uppercase del-shop" id="{{:id}} " ><i class="fa fa-times"></i> 店铺撤销 </a> 
              {{/if}}
              {{if approveState==1 || approveState==2}}
              <a href="#basic" class="btn blue-soft btn-xs sbold uppercase  edit-shop"  data-toggle="modal" data-index="{{:#getIndex()}}" data-id="{{:id}}"><i class="fa fa-edit"></i> 修改店铺信息 </a> 
              {{/if}}
            </td>
        </tr>
      {{/for}}
    </tbody>
  </table>