<table class="table table-hover table-light">
    <thead>
        <tr class="uppercase">
            <th> 序号 </th>
            <th> 发布时间 </th>
            <th> 平台 </th>
            <th> 任务类型 </th>
            <th> 店铺名称 </th>
            <th> 商品名称 </th>
            <th> 单数 </th>
            <th> 搜索关键词 </th>  
            <th> 是否优先审核 </th>  
            <th> 任务状态 </th>  
            <th> 审批原因 </th> 
            <th> 任务编号 </th>
            <th> 总金额 </th>
            <th> 操作 </th>
        </tr>
    </thead>
    <tbody>
      {{for data}}
        <tr>
            <td> {{:#index+1 + ~root.pageSize*~root.pageIndex}} </td>
            <td> {{:~formatTime(createtime)}}</td>
            <td> {{:platform}} </td>
            <td> {{:tasktype}}</td>
            <td> {{:shopName}}</td>
            <td> {{:goodsname}}</td>
            <td> {{:num}}</td>
            <td> {{:keywords}}</td>
            <td> {{if auditFirst}} 是 {{else}} 否 {{/if}} </td>

            <td> 
              <div class="u-task-status {{if status==0 || status==40}}font-red{{/if}}">
                {{:statusName}}
              </div>
              {{if status==30}}
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{:~div(acceptNum,num)}}%;">
                  <span class="pg-status">{{:acceptNum}}/{{:num}}</span>
                </div>
              </div>
              {{/if}}
            </td>
            <td> {{:approveReason}} </td>
            <td> {{:id}}</td>
            <td> {{:taskMoney.sum}}</td>
            <td>
              {{if (status==0 || status==40 || status==20)}}
              <a href="javascript:;" class="btn red-sunglo btn-xs  sbold uppercase del-task" id="{{:id}}" ><i class="fa fa-times"></i> 删除 </a> 
              {{/if}}
              {{if (status==0)}}
              <a href="javascript:;" class="btn grey-cascade btn-xs  sbold uppercase pay-task" id="{{:id}}" ><i class="fa fa-hand-o-right"></i> 发布 </a> 
              {{/if}}
              {{if (status==30)}}
              <a href="javascript:;" class="btn blue-soft btn-xs  sbold uppercase mag-task" id="{{:id}}" ><i class="fa fa-edit"></i> 管理 </a> 
              {{/if}}
            </td>
        </tr>
      {{/for}}
    </tbody>
  </table>