<table class="table table-hover table-light">
    <thead>
        <tr class="uppercase">
            <th> 序号 </th>
            <th style="width: 100px;"> 创建时间 </th>
            <th> 平台/任务类型 </th>
            <th> 店铺名称 </th>
            <th style="width: 250px;"> 商品名称 </th>
            <th> 单数 </th> 
            <th> 优先审核 </th>  
            <th> 任务状态 </th>  
            <th> 审批原因 </th> 
            <th> 任务编号 </th>
            <th> 总金额 </th>
            <th> 操作 </th>
        </tr>
    </thead>
    <tbody>
      {{for data}}
        <tr>
            <td> {{:#index+1 + ~root.pageSize*~root.pageIndex}} </td>
            <td> {{:~formatTime(createtime)}}</td>
            <td> {{:platform}}/{{:tasktype}}</td>
            <td> {{:shopName}}</td>
            <td> {{:goodsname}}</td>
            <td> {{:num}}</td>
            <td> {{if auditFirst}} 是 {{else}} 否 {{/if}} </td>

            <td> 
              <div class="u-task-status {{if status==0 || status==40}}font-red{{/if}}">
                {{:statusName}}
              </div>
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{:~div(acceptNum,num)}}%;">
                  <span class="pg-status">{{:acceptNum}}/{{:num}}</span>
                </div>
              </div>
            </td>
            <td> {{:approveReason}} </td>
            <td> {{:id}}</td>
            <td> {{:tasksummoney}}</td>
            <td>
              <a href="javascript:;" class="btn red btn-xs  sbold uppercase detail-task" data-id="{{:id}}" ><i class="fa fa-times"></i> 详情 </a>
              <a href="javascript:;" class="btn red btn-xs  sbold uppercase republish-task" data-id="{{:id}}" ><i class="fa fa-times"></i> 重新发布 </a>
              {{if (status==0 || status==40)}}
              <a href="javascript:;" class="btn red btn-xs  sbold uppercase del-task" id="{{:id}}" ><i class="fa fa-times"></i> 删除 </a> 
              {{/if}}
              {{if (status==0)}}
              <a href="javascript:;" class="btn red btn-xs  sbold uppercase pay-task" id="{{:id}}" ><i class="fa fa-hand-o-right"></i> 发布 </a> 
              {{/if}}
              {{if ((status==30)||(status==50))}}
              <a href="javascript:;" class="btn red btn-xs  sbold uppercase mag-task" id="{{:id}}" ><i class="fa fa-edit"></i> 管理 </a> 
              {{/if}}
            </td>
        </tr>
      {{/for}}
    </tbody>
  </table>