<!-- <table class="table table-hover table-light">
    <thead>
        <tr class="uppercase">
            <th>  </th>
            <th> 序号 </th>
            <th> 平台 </th>
            <th> 店铺 </th>
            <th> 订单ID </th>
            <th> 订单发布时间 </th>
            <th> 接单时间 </th>
            <th> 买家ID </th>
            <th> 订单状态 </th>
            <th> 淘宝京东单号 </th>
            <th> 任务金额 </th>
            <th> 佣金 </th>
            <th> 买家垫付 </th>
            <th> 商品名称 </th>
            <th> 搜索关键字 </th>
            <th> 发货类型 </th>
            <th> 快递单号 </th>
            <th> 快递状态 </th>
            <th> 操作 </th>
        </tr>
    </thead>
    <tbody>
      {{for data}}
        <tr>
            <td> <input type="checkbox" name="tid" value="{{:id}}" class="u-tid"> </td>
            <td> {{:#index+1 + ~root.pageSize*~root.pageIndex}} </td>
            <td> {{:shopType}} </td>
            <td> {{:shopName}} </td>
            <td> {{:id}} <a class="btn red btn-xs btn-outline detail-appeal">拉黑</a></td>
            <td> {{:~formatTime(taskCreatetime)}} </td>
            <td> {{:~formatTime(acceptTime)}} </td>
            <td> {{:buyerId}} </td>
            <td class="z-status{{:status}} status"> {{:~formatOrderStatus(status)}}</td>
            <td> {{:orderid}} </td>
            <td> {{:sumMoney}} </td>
            <td> {{:serviceSum}} </td>
            <td> {{:goodsSum}} </td>
            <td> {{:goodsname}} </td>
            <td> {{:keyword}} </td>
            <td> 空包 </td>    
            <td> {{:expressNo}} </td>
            <td> {{:~formatExpressStatus(expressStatus)}}  </td>
            <td>
              {{if (status==10)}}
              <a href="javascript:;" class="btn green-dark btn-xs  sbold uppercase sub-goods" id="{{:id}}"  tid="{{:taskkeyId}}" pid="{{:taskId}}"><i class="fa fa-hand-o-right"></i> 发货 </a> 
              {{/if}}
              {{if (status==30)}}
              <a href="javascript:;" class="btn red btn-xs  sbold uppercase pay-task" id="{{:id}}"  tid="{{:taskkeyId}}" pid="{{:taskId}}"><i class="fa fa-hand-o-right"></i> 审核 </a> 
              <a href="javascript:;" class="btn red btn-xs  sbold uppercase request-task" id="{{:id}}"  tid="{{:taskkeyId}}" pid="{{:taskId}}"><i class="fa fa-hand-o-right"></i> 申诉 </a> 
              {{/if}}
            </td>
        </tr>
      {{/for}}
    </tbody>
  </table> -->




{{for data}}
<div class="u-wrap">
    <div class="u-row">
        <div class="u-ck"><input type="checkbox" name="tid" value="{{:id}}" class="u-tid"></div>
        <div class="u-id">{{:#index+1 + ~root.pageSize*~root.pageIndex}}</div>
        <div class="u-col u-sell">
            <div class="u-shoptype"><img src="/img/{{:~formatShopType(shopType)}}"></div>
            <div class="u-shopname">店铺名：{{:shopName}}</div>
            <div class="u-tid">任务ID：{{:taskId}}</div>
            <div class="u-tid">任务关键字：{{:keyword}}</div>
            <div class="u-publishtime">发布时间：{{:~formatTime(taskCreatetime)}}</div>
        </div>
        <div class="u-col u-buy">
            <div class="u-buyer">买家ID：{{:buyerMobile}} <a class="btn red btn-xs  defriend-apply" buyerId="{{:buyerId}}">拉黑</a></div>
            <div class="u-buyer">买家淘宝/京东ID：{{:jingdongId}}{{:taobaoId}}</div>
            <div class="u-order-id">平台订单ID：{{:code}}</div>
            <div class="u-order-id">淘宝/京东订单ID：{{:orderid}}</div>
            <div class="u-accepttime">接单时间：{{:~formatTime(acceptTime)}}</div>
        </div>

        <div class="u-col u-money">
          <div class="u-all-money">任务金额：{{:sumMoney}}</div>
          <div class="font-red">垫付金额：{{:goodsSum}}</div>  
          <div class="font-red font-big"><img src="/img/money.png" class="fn-money">{{:serviceSum}} </div>
        </div>
        <div class="u-col u-exp">
            <div class="u-exp-type">空包</div>
            <div class="u-exp-id">{{:expressNo}}</div>
            <div class="u-exp-status">已发货<!-- {{:~formatExpressStatus(expressStatus)}} --></div>
        </div>
        <div class="u-col u-status z-status{{:status}}">{{:~formatOrderStatus(status)}}</div>
        <div class="u-col u-func">
          <a href="javascript:;" class="btn blue-steel btn-xs   uppercase detail-task" id="{{:id}}"  tid="{{:taskkeyId}}" pid="{{:taskId}}"><i class="fa fa-bars"></i> 任务详情 </a> 
          <a href="javascript:;" class="btn red-mint btn-xs   uppercase complain-task" id="{{:id}}"  tid="{{:taskkeyId}}" pid="{{:taskId}}"><i class="fa fa-hand-paper-o"></i> 申诉任务 </a> 
          <a href="javascript:;" class="btn grey-mint btn-xs   uppercase change-money" id="{{:id}}"  tid="{{:taskkeyId}}" pid="{{:taskId}}"><i class="fa fa-edit"></i> 修改价格 </a>
          {{if (status==10)}}
          <a href="javascript:;" class="btn green-seagreen btn-xs   uppercase sub-goods" id="{{:id}}"  tid="{{:taskkeyId}}" pid="{{:taskId}}"><i class="fa fa-truck"></i> 发货 </a> 
          {{/if}}
          {{if (status==30)}}
          <a href="javascript:;" class="btn purple-studio btn-xs   uppercase pay-task" id="{{:id}}"  tid="{{:taskkeyId}}" pid="{{:taskId}}" type="{{:~getTaskType(taskId)}}"><i class="fa fa-rmb"></i> 审核支付 </a> 
          {{/if}}
        </div>
    </div>
</div>
{{/for}}