{{for data}}
<div class="u-wrap">
    <div class="u-row">
        <div class="u-ck"></div>
        <div class="u-id">{{:#index+1 + ~root.pageSize*~root.pageIndex}}</div>
        <div class="u-col u-sell">
            <div class="u-shoptype"><img src="/img/{{:~formatShopType(shopType)}}"></div>
            <div class="u-shopname">店铺名：{{:shopName}}</div>
            <div class="u-tid">任务ID：{{:taskId}}</div>
            <div class="u-tid">任务关键字：{{:keyword}}</div>
            <div class="u-publishtime">发布时间：{{:~formatTime(taskCreatetime)}}</div>
            {{if ((pressMoney===1) && (status !==70))}}
            <div class="u-press-money">催</div>
            {{/if}}
        </div>
        <div class="u-col u-buy">
            <div class="u-buyer">买家ID：{{:buyerMobile}} </div>
            <div class="u-buyer">买家淘宝/京东ID：{{:jingdongId}}{{:taobaoId}}</div>
            <div class="u-order-id">平台订单ID：{{:code}}</div>
            <div class="u-order-id">淘宝/京东订单ID：{{:orderid}}</div>
            <div class="u-accepttime">接单时间：{{:~formatTime(acceptTime)}}</div>
        </div>

        <div class="u-col u-money">
          {{if ~root.type === 'pay'}}
          <div class="u-all-money">任务金额：{{:sumMoney}}</div>
          <div class="font-red">垫付金额：{{:goodsSum}}</div>  
          <div class="font-red">实际付款：{{:goodsSumBuyer}}</div>  
          {{/if}}

          <div class="font-red font-big"><img src="/img/money.png" class="fn-money">{{:serviceSum}} </div>
        </div>
        <div class="u-col u-exp">
            <div class="u-exp-type">圆通快递</div>
            <div class="u-exp-id">单号：{{:expressNo}}</div>
            <div class="u-exp-status">已发货</div>
        </div>
        <div class="u-col u-status z-status{{:status}}">{{:~formatOrderStatus(status)}}</div>
        
    </div>
</div>
{{/for}}