<div class="portlet ">
  <div class="portlet-title ">
    <div class="m-sbar">
      <div>
        <span>收支</span>
        <select class="form-control " id="sr-type">
          <option value="0">全部</option>
          <option value="1">收</option>
          <option value="2">支</option>
        </select>
      </div>
      <div><span>内容 </span><input type="text" id="sr-cnt" ></div>
      <div>
        <span>操作时间</span>
        <input type="text" id="sr-time-from" class="u-dt"> - <input type="text" id="sr-time-to" class="u-dt">
      </div>
      <div>
        <a href="#basic" class="btn red-sunglo btn-sm" id="btn-search"><i class="fa fa-search"></i> 查询 </a>
        <a href="#basic" class="btn red-sunglo btn-sm" id="btn-export"><i class="fa fa-search"></i> 导出 </a>
      </div>
    </div>
  </div>
</div>
