<div class="m-detail-wrap">
  <div class="m-close"></div>


  <div class="m-cost-wrap">
    <div class="m-cost-row m-cost-title">本次任务费用详情</div>
    <div class="m-cost-row font-big">
      <span>分类   </span>
      <span class="u-cost">费用明细</span>
      <span>小计   </span>
      <span>数量   </span>
      <span>合计   </span>
    </div>
    <div class="m-cost-row font-big">
      <span>佣金费用</span>
      <span class="u-cost"></span>
      <span></span>
      <span></span>
      <span class="font-red"></span>
    </div>
    {{for data}}
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">
         第{{:#index+1}}单任务 
         {{if ~root.type === 'pay'}}
           {{if keywordCommentSum}} 
            关键字好评任务
           {{else pictureCommentSum}}
            图片好评任务
           {{else wordCommentSum}}
            文字好评任务
           {{else}}
            普通好评任务
           {{/if}}
        {{else ~root.type === 'browse'}}
          {{if browseSum}}浏览任务 {{/if}}
          {{if addShoppingCartSum}}加购物车 {{/if}}
          {{if favoriteGoodsSum}}关注商品 {{/if}}
          {{if favoriteShopSum}}关注店铺 {{/if}}
        {{/if}}
      </span>
      <span class="u-money-base">
        {{if ~root.type === 'pay'}}
          {{:baseMoney}}金/单
        {{else ~root.type === 'browse'}}
          {{:browse}}金/单
        {{/if}}
      </span>
      <span>
        {{if ~root.type === 'pay'}}
          {{:baseMoneyCount}}单
        {{else ~root.type === 'browse'}}
          {{:browseCount}}单
        {{/if}}
      </span>
      <span>
        {{if ~root.type === 'pay'}}
          {{:baseMoneySum}}金
        {{else ~root.type === 'browse'}}
          {{:browseSum}}金
        {{/if}}
      </span>
    </div>
    {{if keywordCommentSum}}
    <div class="m-cost-row  m-cost-second">
      <span></span>
      <span class="u-cost"></span>
      <span class="u-money-add">{{:keywordComment}}金/单</span>
      <span>{{:keywordCommentCount}}单  </span>
      <span>{{:keywordCommentSum}}金   </span>
    </div>
    {{/if}}
    {{if pictureCommentSum}}
    <div class="m-cost-row m-cost-second">
      <span></span>
      <span class="u-cost"></span>
      <span class="u-money-add">{{:pictureComment}}金/单</span>
      <span>{{:pictureCommentCount}}单  </span>
      <span>{{:pictureCommentSum}}金   </span>
    </div>
    {{/if}}
    {{if wordCommentSum}}
    <div class="m-cost-row m-cost-second">
      <span></span>
      <span class="u-cost"></span>
      <span class="u-money-add">{{:wordComment}}金/单</span>
      <span>{{:wordCommentCount}}单  </span>
      <span>{{:wordCommentSum}}金   </span>
    </div>
    {{/if}}


    {{if addShoppingCartSum}}
    <div class="m-cost-row  m-cost-second">
      <span></span>
      <span class="u-cost"></span>
      <span class="u-money-add">{{:addShoppingCart}}金/单</span>
      <span>{{:addShoppingCartCount}}单  </span>
      <span>{{:addShoppingCartSum}}金   </span>
    </div>
    {{/if}}
    {{if favoriteGoodsSum}}
    <div class="m-cost-row m-cost-second">
      <span></span>
      <span class="u-cost"></span>
      <span class="u-money-add">{{:favoriteGoods}}金/单</span>
      <span>{{:favoriteGoodsCount}}单  </span>
      <span>{{:favoriteGoodsSum}}金   </span>
    </div>
    {{/if}}
    {{if favoriteShopSum}}
    <div class="m-cost-row m-cost-second">
      <span></span>
      <span class="u-cost"></span>
      <span class="u-money-add">{{:favoriteShop}}金/单</span>
      <span>{{:favoriteShopCount}}单  </span>
      <span>{{:favoriteShopSum}}金   </span>
    </div>
    {{/if}}


    {{/for}}
    <div class="m-cost-row font-big">
      <span>增值服务</span>
      <span class="u-cost"></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    {{if showFirstSum}}
    <div class="m-cost-row">
      <span>增值服务</span>
      <span class="u-cost">是否优先展示任务</span>
      <span>{{:showFirst}}     金/单</span>
      <span>{{:showFirstCount}}单</span>
      <span>{{:showFirstSum}}  金</span>
    </div>
    {{/if}}
    {{if extraMoneySum}}
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">加赏任务佣金</span>
      <span>{{:extraMoney}}     金/单</span>
      <span>{{:extraMoneyCount}}单</span>
      <span>{{:extraMoneySum}}  金</span>
    </div>
    {{/if}}
    {{if auditFirstSum}}
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">订单优先审核</span>
      <span>{{:auditFirst}}     金/单</span>
      <span>{{:auditFirstCount}}单</span>
      <span>{{:auditFirstSum}}  金</span>
    </div>
    {{/if}}
    {{if sexMatchSum}}
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">性别匹配</span>
      <span>{{:sexMatch}}     金/单</span>
      <span>{{:sexMatchCount}}单</span>
      <span>{{:sexMatchSum}}  金</span>
    </div>
    {{/if}}
    {{if ageMatchSum}}
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">年龄段匹配</span>
      <span>{{:ageMatch}}     金/单</span>
      <span>{{:ageMatchCount}}单</span>
      <span>{{:ageMatchSum}}  金</span>
    </div>
    {{/if}}
    {{if areaMatchSum}}
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">区域限制</span>
      <span>{{:areaMatch}}     金/单</span>
      <span>{{:areaMatchCount}}单</span>
      <span>{{:areaMatchSum}}  金</span>
    </div>
    {{/if}}
    {{if taobaoGradeSum}}
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">买家等级费</span>
      <span>{{:taobaoGrade}}     金/单</span>
      <span>{{:taobaoGradeCount}}单</span>
      <span>{{:taobaoGradeSum}}  金</span>
    </div>
    {{/if}}
    {{if rebuySum}}
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">重复购买限制</span>
      <span>{{:rebuy}}     金/单</span>
      <span>{{:rebuyCount}}单</span>
      <span>{{:rebuySum}}  金</span>
    </div>
    {{/if}}
    {{if huabeiSum}}
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">是否要求账号需要开通白条/花呗</span>
      <span>{{:huabei}}     金/单</span>
      <span>{{:huabeiCount}}单</span>
      <span>{{:huabeiSum}}  金</span>
    </div>
    {{/if}}
    {{if usehuabeiSum}}
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">是否允许使用信用卡/花呗/白条</span>
      <span>{{:usehuabei}}     金/单</span>
      <span>{{:usehuabeiCount}}单</span>
      <span>{{:usehuabeiSum}}  金</span>
    </div>
    {{/if}}
    {{if buyExpressSum}}
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">面单购买</span>
      <span>{{:buyExpress}}     金/单</span>
      <span>{{:buyExpressCount}}单</span>
      <span>{{:buyExpressSum}}  金</span>
    </div>
    {{/if}}
    {{if isRecieveSum}}
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">默认签收</span>
      <span>{{:isRecieve}}     金/单</span>
      <span>{{:isRecieveSum}}单</span>
      <span>{{:isRecieveSum}}  金</span>
    </div>
    {{/if}}
    {{if baseserverSum}}
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">平台服务费</span>
      <span>{{:baseserverMoney}}金/单</span>
      <span>{{:baseserverCount}}单</span>
      <span>{{:baseserverSum}}  金</span>
    </div>
    {{/if}}
    

    <div class="m-cost-row group-{{:type}}">
      <span>商品费用</span>
      <span class="u-cost"></span>
      <span>{{:goodsMoney}}金/单</span>
      <span>{{:goodsCount}}单</span>
      <span>{{:goodsMoneySum}}  金</span>
    </div>
    <div class="m-cost-row group-{{:type}}">
      <span>保证金</span>
      <span class="u-cost"></span>
      <span></span>
      <span></span>
      <span>{{:securityMoney}}金</span>
    </div>
    <div class="m-cost-row group-{{:type}}">
      <span>快递押金</span>
      <span class="u-cost"></span>
      <span>金/单</span>
      <span>单</span>
      <span>金</span>
    </div>
    <div class="m-cost-row">
      <span>合计</span>
      <span class="u-cost"></span>
      <span></span>
      <span></span>
      <span class="font-red font-sbig">{{:sum}}金</span>
    </div>

  </div>

</div>