<div class="portlet light bordered ">      
                         
  <div class="portlet-body">
     本次任务费用详情
  </div>

  <div class="portlet-body">
    <table class="table table-bordered ">
      <thead>
        <tr class="uppercase">
          <th> 分类 </th>
          <th> 费用明细 </th>
          <th> 小计 </th>
          <th> 数量 </th>
          <th> 合计 </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan='6'> 佣金</td>
          <td> 基础佣金： </td>
          <td> {{:baseMoney}}金/单 </td>
          <td> {{:baseMoneyCount}}单</td>
          <td> {{:baseMoneySum}}金 </td>
        </tr>

        <tr>
          <td> 指定关键词好评： </td>
          <td> {{:keywordComment}}金/单 </td>
          <td> {{:keywordCommentCount}}单</td>
          <td> {{:keywordCommentSum}}金 </td>
        </tr>

        <tr>
          <td> 指定图片好评： </td>
          <td> {{:pictureComment}}金/单 </td>
          <td> {{:pictureCommentCount}}单</td>
          <td> {{:pictureCommentSum}}金 </td>
        </tr>

        <tr>
          <td> 指定文字好评： </td>
          <td> {{:wordComment}}金/单 </td>
          <td> {{:wordCommentCount}}单</td>
          <td> {{:wordCommentSum}}金 </td>
        </tr>

        <tr>
          <td> 收藏商品： </td>
          <td> {{:favoriteGoods}}金/单 </td>
          <td> {{:favoriteGoodsCount}}单</td>
          <td> {{:favoriteGoodsSum}}金 </td>
        </tr>
        <tr>
          <td> 性别匹配： 金/单</td>
          <td> {{:sexMatch}}金 </td>
          <td> {{:sexMatchCount}}单</td>
          <td> {{:sexMatchSum}}金 </td>
        </tr>
        <tr>
          <td> 问大家： 金/单</td>
          <td> {{:askAll}}金 </td>
          <td> {{:askAllCount}}单</td>
          <td> {{:askAllSum}}金 </td>
        </tr>
        <tr>
          <td> 加赏佣金： 金/单</td>
          <td> {{:extraMoney}}金 </td>
          <td> {{:extraMoneyCount}}单</td>
          <td> {{:extraMoneySum}}金 </td>
        </tr>
        <tr>
          <td> 面单购买： 金/单</td>
          <td> {{:buyExpress}}金 </td>
          <td> {{:buyExpressCount}}单</td>
          <td> {{:buyExpressSum}}金 </td>
        </tr>
        <tr>
          <td> 区域服务费： 金/单</td>
          <td> {{:areaMatch}}金 </td>
          <td> {{:areaMatchCount}}单</td>
          <td> {{:areaMatchSum}}金 </td>
        </tr>
        <tr>
          <td> 花呗白条费： 金/单</td>
          <td> {{:huabei}}金 </td>
          <td> {{:huabeiCount}}单</td>
          <td> {{:huabeiSum}}金 </td>
        </tr>
        <tr>
          <td> 买家等级费： 金/单</td>
          <td> {{:taobaoGrade}}金 </td>
          <td> {{:taobaoGradeCount}}单</td>
          <td> {{:taobaoGradeSum}}金 </td>
        </tr>
        <tr>
          <td> 默认签收费：</td>
          <td> 0 金/单 </td>
          <td> 0 单</td>
          <td> 0 金 </td>
        </tr>
        <tr>
          <td>  </td>
          <td> </td>
          <td> 合计 </td>
          <td> {{:serviceSum}} 单</td>
          <td> {{:sum}} 金 </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="portlet-body">
    <table class="table table-bordered ">
      <thead>
        <tr class="uppercase">
          <th> 分类 </th>
          <th> 费用明细 </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td > 商品费用</td>
          <td>  {{:goodsMoneySum}}元</td>
        </tr>
        <tr>
          <td> 佣金费用</td>
          <td> {{:serviceSum}}元 </td> 
        </tr>
        <tr>
          <td> 快递押金</td>
          <td> 单* 元/单 =  元</td>
        </tr>
        <tr>
          <td> </td>
          <td> 合计 {{:sum}} 元 </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="portlet-body">
    选择支付方式
  </div>

  <div class="portlet-body">
    <label class="mt-radio">
        <input type="radio" name="r-platform" value="淘宝" checked> 使用账户余额支付（本金账户余额 0元，佣金账户余额0金，充值成功后勤刷新账户余额）
        <span></span>
    </label>
  </div>
</div>