<div class="m-detail-wrap">
  <div class="m-close"></div>


  <div class="m-cost-wrap">
    <div class="m-cost-row m-cost-title">本次任务费用详情</div>
    <div class="m-cost-row font-big">
      <span>分类   </span>
      <span class="u-cost">费用明细</span>
      <span>小计   </span>
      <span>数量   </span>
      <span>合计   </span>
    </div>
    <div class="m-cost-row">
      <span>佣金费用</span>
      <span class="u-cost">任务1</span>
      <span>小计   </span>
      <span>数量   </span>
      <span class="font-red">合计   </span>
    </div>
    
    <div class="m-cost-row">
      <span>增值服务</span>
      <span class="u-cost">是否优先展示任务</span>
      <span>{{:showFirst}}     金/单</span>
      <span>{{:showFirstCount}}单</span>
      <span class="font-red">{{:showFirstSum}}  金</span>
    </div>
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">加赏任务佣金</span>
      <span>{{:extraMoney}}     金/单</span>
      <span>{{:extraMoneyCount}}单</span>
      <span class="font-red">{{:extraMoneySum}}  金</span>
    </div>
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">订单优先审核</span>
      <span>{{:auditFirst}}     金/单</span>
      <span>{{:auditFirstCount}}单</span>
      <span class="font-red">{{:auditFirstSum}}  金</span>
    </div>
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">性别匹配</span>
      <span>{{:sexMatch}}     金/单</span>
      <span>{{:sexMatchCount}}单</span>
      <span class="font-red">{{:sexMatchSum}}  金</span>
    </div>
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">年龄段匹配</span>
      <span>{{:ageMatch}}     金/单</span>
      <span>{{:ageMatchCount}}单</span>
      <span class="font-red">{{:ageMatchSum}}  金</span>
    </div>
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">区域限制</span>
      <span>{{:areaMatch}}     金/单</span>
      <span>{{:areaMatchCount}}单</span>
      <span class="font-red">{{:areaMatchSum}}  金</span>
    </div>
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">买家等级费</span>
      <span>{{:taobaoGrade}}     金/单</span>
      <span>{{:taobaoGradeCount}}单</span>
      <span class="font-red">{{:taobaoGradeSum}}  金</span>
    </div>
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">重复购买限制</span>
      <span>{{:rebuy}}     金/单</span>
      <span>{{:rebuyCount}}单</span>
      <span class="font-red">{{:rebuySum}}  金</span>
    </div>
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">是否要求账号需要开通白条/花呗</span>
      <span>{{:huabei}}     金/单</span>
      <span>{{:huabeiCount}}单</span>
      <span class="font-red">{{:huabeiSum}}  金</span>
    </div>
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">是否允许使用信用卡/花呗/白条</span>
      <span>{{:usehuabei}}     金/单</span>
      <span>{{:usehuabeiCount}}单</span>
      <span class="font-red">{{:usehuabeiSum}}  金</span>
    </div>
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">面单购买</span>
      <span>{{:buyExpress}}     金/单</span>
      <span>{{:buyExpressCount}}单</span>
      <span class="font-red">{{:buyExpressSum}}  金</span>
    </div>
    <div class="m-cost-row">
      <span></span>
      <span class="u-cost">平台服务费</span>
      <span>{{:baseserverMoney}}金/单</span>
      <span>{{:baseserverCount}}单</span>
      <span class="font-red">{{:baseserverSum}}  金</span>
    </div>
    

    <div class="m-cost-row">
      <span>商品费用</span>
      <span class="u-cost"></span>
      <span>{{:goodsMoney}}金/单</span>
      <span>{{:goodsCount}}单</span>
      <span class="font-red">{{:goodsMoneySum}}  金</span>
    </div>
    <div class="m-cost-row">
      <span>保证金</span>
      <span class="u-cost"></span>
      <span></span>
      <span></span>
      <span class="font-red">{{:securityMoney}}金</span>
    </div>
    <div class="m-cost-row">
      <span>快递押金</span>
      <span class="u-cost"></span>
      <span>金/单</span>
      <span>单</span>
      <span class="font-red">金</span>
    </div>
    <div class="m-cost-row">
      <span>合计</span>
      <span class="u-cost"></span>
      <span></span>
      <span></span>
      <span class="font-red font-sbig">{{:sum}}金</span>
    </div>

  </div>

</div>