.portlet {
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
    width: 1080px;
}

.m-sbar {
    display: flex;
    align-items: center;
}

.m-sbar div {
    padding: 0 10px;
}


.u-wrap {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    margin-left: 5px;
}

.u-wrap:hover {
    border: 1px solid #aaa;
}

.u-row {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.u-row-info {
    background: #eee;
    /*border-bottom: 1px solid #ddd;*/
}

.u-row-info:nth-child(2) {
    border-bottom: 1px solid #ddd;
}

.u-status-info {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-right: 5px;
}

.u-status {
    color: #fff;
    background: #E43A45;
    /* width: 32px; */
    font-size: 12px;
    text-align: center;
    margin-right: 3px;
    padding: 0 5px;
    position: relative;
}

.u-status.u-vip {
    margin-left: 25px;
}

.u-status.u-vip:after {
    content: 'VIP';
    background: #333;
    display: block;
    position: absolute;
    left: -24px;
    top: 0;
    padding: 0 3px;
}


.u-id {
    height: 20px;
    border-radius: 10px;
    background: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 15px;
}

.u-id span {
    display: inline-block;
    padding: 0 5px;
    background: #666;
}


.u-seller {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}

.u-pri {
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.u-shops {
    flex-direction: row;
    flex: 1;
}

.u-row-info a {
    border: 1px solid #eee;
    margin: 0 5px 0 0;
    color: #666;
    min-width: 50px;
    background: #666;
    color: #fff;
}

.u-row-info a:hover {
    border: 1px solid #aaa;
    color: #eee;
}

.u-task {
    text-align: right;
    margin-right: 0!important;
}


.u-col.u-col-shopname>a {
    width: auto;
    height: auto;
    padding: 5px 10px;
    display: inline-block;
}

.u-shop {
    display: flex;
    flex-direction: row;
}

.u-shop .u-col {
    /*flex: 1;*/
    width: 165px;
    margin-right: 10px;
    align-items: flex-start;
}

.u-shop .u-col.u-col-shopname {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.u-col-info {
    margin: 5px 10px 0;
}


/*fix row*/
.u-row.u-shop:first-child {
    border-bottom: 1px dashed #ddd;
}

.u-row.u-shop:nth-child(2n) {
    margin-top: 5px;
}
.u-row.u-shop:last-child {
    border-bottom: none;
    padding-bottom: 0;
}


.g-detail {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    background: rgba(0,0,0,.5);
}


.m-detail-wrap {
    position: absolute;
    background: #fff;
    width: 1200px;
    display: flex;
    flex-direction: column;
    box-shadow:1px 1px 5px #ccc;
    top: 50%  ;
    right: 50%;
    transform: translateY(-50%) translateX(50%)!important;
}

.m-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 9999;
    background-image: url(/img/close.png);
}


.m-sbar input {
    height: 30px;
    padding: 5px 10px;
    outline: none;
}

.m-sbar div span {
    margin-right: 5px;
}


.ui.table:last-child {
    margin-bottom: 0;
    margin-top: 0;
}
