body {
    min-width: 1050px;
}

.table.table-light > tbody > tr > td,.table.table-light > tbody > tr > th {
    font-size: 12px;
}

.pass {
  color: #ff6600;
}

.pass1 {
    color: #006699;
}

#g-audit-idcard .pass2 {
    color: #f00000;
}