body {
  
}

.table.table-light > tbody > tr > td,.table.table-light > tbody > tr > th {
    font-size: 12px;
}

#g-audit.pass {
  color: #ff6600;
}

#g-audit.pass1 {
    color: #006699;
}

#g-audit .pass2 {
    color: #f00000;
}

#g-audit .pass3 {
    color: #009900;
}

td.address {
    max-width: 160px;
    word-break: break-all;
}