body {
    min-width: 1050px;
}

.table.table-light > tbody > tr > td,.table.table-light > tbody > tr > th {
    font-size: 12px;
}

.pass {
  color: #ff6600;
}

.pass1 {
    color: #006699;
}

#g-audit-idcard .pass2 {
    color: #f00000;
}

.m-sbar {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.m-sbar>div,
.m-sbar>a {
    margin-right: 15px;
}

.m-sbar>div>select,
.m-sbar>div>input {
    display: inline-block;
    width: 100px;
}

.m-sbar>div>input.u-dt {
    width: 140px;
}