.u-wrap {
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 5px;
}

.u-row {
    padding: 5px;
    display: flex;
    flex-direction: row;
}


.u-id {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: 0;
    left: 0;
}


.u-seller {
    display: flex;
    flex-direction: column;
    flex-basis: 400px!important;
}


.u-shops {
    flex-direction: row;
    flex: 1;
}



.u-shop {
    display: flex;
    flex-direction: row;
}

.u-shop .u-col {
    flex-direction: column;
    flex: 1;
}

/*.u-task {
    flex-basis: 30px!important;
}*/


.u-col>div {
    margin: 0 0 5px 0;
}

.u-col>a {
    margin: 0 0 5px 0;
}