#g-chart {
    height: 1600px;
}

.m-sbar {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.m-sbar>div,
.m-sbar>a {
    margin-right: 15px;
}

.m-sbar>div>select,
.m-sbar>div>input {
    display: inline-block;
    width: 120px;
}

.m-sbar>div>input.u-dt {
    width: 140px;
}

.g-detail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background: rgba(0,0,0,.5);
}